<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout/main_layout">
<body layout:fragment="content">
    <div class="page-wrapper">
        <div th:replace="fragments/nav"></div>
        
            <div id="list_wrap" class="container">
                <div class="enot_wrap" id="error-url">
                    <div class="row" v-if="checkUrl">
                        <div class="col-sm-2">
                        </div>
                        <div class="col-sm-4">
                            <div class="enot_logo"></div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="enot_oops mt50 xs-mt25"></div>
                            <div class="enot_text">
                                웹 페이지가 갈 곳을 잃었네요 ㅠ_ㅠ
                            </div>
                            <div class="btn_wrap">
                                <a href="/" class="btn btn-primary-outline">메인화면으로?</a>
                            </div>
                        </div>
                        <div class="col-md-2">
                        </div>
                    </div>
                </div>
            </div>
        <script th:inline="javascript">
		//<![CDATA[
            new Vue({
            	el : "#error-url",
            	data : {
            		checkUrl : false
            	},
                created: function() {
                	var path = location.pathname;
                	
                    if(path.indexOf("/m/") != -1) {
                    	window.open('/', '_self');
                    } else {
                    	this.checkUrl = true;
                    } 
                }
            })
		//]]>
        </script>
        
        <footer th:replace="fragments/footer"></footer>
    </div>
</body>
</html>