/* Author:park hyo bin
 * Created:20181015
 */

/*font size*/
.font12{
	font-size:12px;
	letter-spacing:-0.3px;
	color:#464646;
}
.font13{
	font-size:13px;
	letter-spacing:-0.3px;
	color:#464646;
}
.font14{
	font-size:14px;
	letter-spacing:-0.3px;
	color:#464646;
}
.font15{
	font-size:15px;
	letter-spacing:-0.3px;
	color:#464646;
}
.font16{
	font-size:16px;
	letter-spacing:-0.3px;
	color:#464646;
}
.font18{
	font-size:18px;
	letter-spacing:-0.3px;
	color:#464646;
}
.font22{
	font-size:22px;
	letter-spacing:-0.5px;
	line-height:32px;
	color:#464646;
}
.font24{
	font-size:24px;
	letter-spacing:-0.5px;
	color:#464646;
}
.font26{
	font-size:26px;
	letter-spacing:-0.7px;
	line-height:26px;
	color:#464646;
}
/*font weight*/
.fontBold{
	font-weight:bold !important;
}

/*color*/
.colorGray1{
	color:#9f9f9f !important;
}
.colorGray2{
	color:#cccccc !important;
}
.colorBlue1{
	color:#1d62ab !important;
}
.colorRed1{
	color:#ff0070 !important;
}

/*background*/
.bgBlue{
	background-color: #1d62ab !important;
}
	
/*align*/
.textRight{
	text-align:right !important;
}
.textLeft{
	text-align:left !important;
}
.textCenter{
	text-align:center !important;
}

/*flex*/
.displayFlex{
	display:flex;
}
.justifyBetween{
	justify-content:space-between;		
}

/*width */
.width300{
	width:300px;
}

/**/
.pointerCursor{
	cursor:pointer;
}
.z-index-1000{
	z-index : 1000;
}
	