/* 
CUSTOM CSS 
*/


/* 리워드 만들기 - 4. 제작자/부가정보 
통장사본/사업자등록증의 이름은 노출시키지 않음 */
.reward-make-fund p.dropify-filename {
    display:  none;
}

/* 리워드 만들기 - 4. 제작자/부가정보
홈페이지 & SNS 입력란 위치 수정 */
.reward-make-fund .sns-group dt .icon_sns {
	position: relative;
	top: 0px;
}

/* 승인요청 버튼은 필수정보를 모두 입력해야 활성화됨 */
/* .approve-button.disabled, .approve-button[disabled] {
	color: #d1d1d1;
    border-color: #d1d1d1;
} */

/* 승인요청 버튼은 필수정보를 모두 입력해야 활성화됨 / 마우스 오버 */
/* .approve-button.disabled:hover, .approve-button[disabled]:hover {
	background-color: #ffffff;
} */

/* 리워드 만들기 - 전체 적용
리워드 프로젝트 밑 설명은 한줄로 나타냄 / 왼쪽 정렬 */
.reward-make-main .form-horizontal .control-label { 
    text-align: left;
}



#main {
	margin-top: 60px;
}

.btn-search {
	border: none !important;
	background-image: url(img/search-blue.png) !important;
	background-size: 22px 22px !important;
}

.btn-exit {
	border: none !important;
	background-image: url(img/search-exit.png) !important;
	background-size: 22px 22px !important;
}
		
.margin-top-10 {
	margin-top: 10px;	
}	

.border-none {
	border: none !important;
}		

.search-box {
	font-size: 18px !important;
}

.search-box::placeholder {
	font-size: 18px !important;
	color:#464646;
}

.pb2 {
    /* padding-bottom: 2px; */
}

.mt4 {
	margin-top: 4px;
}

.visible-hidden {
	visibility: hidden;
}

.font-pink {
	color: #ff0070 !important;
}

.font-blue {
	color: #1d62ab !important;
}

.background-pink {
	background-color: #ff0070;
}

.pl0 {
	padding-left : 0px !important;
}

.pr0 {
	padding-right : 0px !important;
}

.main-box .main-ul {
	width: 100px;
    float: right;
}

.main-box .main-ul a {
	padding: 0px !important;
}

.ml3 {
	margin-left: 3px;
}

.ml13 {
	margin-left: 13px !important
}

.mr14 {
	margin-right: 14px !important;
}

.mr20 {
	margin-right: 20px;	
}


.full-badge {
	width: 100%;
}

.mb-text-align {
	text-align: right !important;
}
	
.carousel-indicators .active {
	    width: 12px;
    height: 12px;
    margin: 0;
    background-color: rgb(0, 0, 0, 0) !important;
}	
	
.arrow {
    border: solid #c9c8cb;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 7px;
}

.arrow-right {
transform: rotate(-45deg);
-webkit-transform: rotate(-45deg);
}

.arrow-left {
transform: rotate(135deg);
-webkit-transform: rotate(135deg);
}

.arrow-up {
transform: rotate(-135deg);
-webkit-transform: rotate(-135deg);
}

.arrow-down {
transform: rotate(45deg);
-webkit-transform: rotate(45deg);
}

.color-white {
	color: rgb(255, 255, 255);
	font-family:  'webfont-bold';
}

.banner-count {
	/* opacity: 0.5; */
	border-radius: 20px;
	background-color: rgba(70, 70, 70, 0.7) !important;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: 30px !important;
	color: #b4b4b4;
	padding-top: 3px;
	padding-bottom: 3px;
	/* font-family:  'webfont-light'; */
	letter-spacing: -0.4px;
}

.custom-mr {
	margin-right: 14px !important;
}



/* MOBILE */
@media only screen and ( max-width: 767px) {
	
	#main {
		margin-top: 0px;
	}
	
	.btn-search {
		top: 2px !important;
		width: 53px !important;
    	height: 41px !important;
		background-size: 20px 20px !important;
		left: -2px !important;
	}
	
	.btn-exit {
		top: 2px !important;
		width: 53px !important;
    	height: 41px !important;
		background-size: 18px 18px !important;
	
	}
	
	.padding-right-10 {
		padding-right : 10px !important;
	}
	
	
	.search-box {
		top: 2px !important;
		font-size: 14px !important;
		padding-left : 0px !important;
		padding-right : 0px !important;
	}
	
	.search-box::placeholder {
		font-size: 14px !important;
		color:#464646;
	}
	
	.pb2 {
	    padding-bottom: 5px;
	}
	
	.btn-more {
		padding-left : 0px !important;
		padding-right : 0px !important;
		font-size: 16px;
	}
	
	.title-block .fa-angle-right {
	    font-size: 32px;
	}
	
	.main-ul > li > a {
	    font-size: 12px;
	    bottom: 8px;
	    height: 25px;
	    line-height: 25px;
	    top: 10px;
	}
	
	.main-box .xs-mb0 {
	    margin-bottom: 0px !important;
	}
	
	.main-box .xs-mt30 {
	    margin-top: 30px !important;
	}
	
	.mb-text-align {
		text-align: centor !important;
	}
	
	.banner-count {
	    margin-left: 0px !important;
	    padding-left: 12px;
	    padding-right: 12px;
	    font-size: 10px;
	    letter-spacing: -0.4px;
	    position: relative;
	    top: -2px;
	    padding-top: 2px;
	}
	
	.custom-mr {
		margin-right: 8px !important;
	}
}

/* PC ONLY */
@media only screen and ( min-width: 768px) {
	.main-ul > li > a {
	    border: none !important;
    	color: #464646
	}
	
	.main-ul > li.active > a, 
	.main-ul > li.active > a:focus, 
	.main-ul > li.active > a:hover {
	    color: #1d62ab !important;
	    background-color: #ffffff !important;
	}
	
}

@media only screen and ( min-width: 1441px) {

}