/* Author:park hyo bin
 * Created:20181015
 */

/* PC defalut */
.common-modal-content{
	width:350px;
	height:230px;
	background-color: white;
	border-radius: 4px;
  	box-shadow: 5px 5px 10px 3px rgba(78, 78, 78, 0.5);
}
.common-modal-body{
	width:100%;
	height:100%;
	padding:19px 27px 28px 27px;
}
.common-modal-footer{
	width: 100%;
    display: flex;
    justify-content: flex-end;
    font-size:15px;
    bottom: 15px;
    right: 95px;
    position: absolute;
}
.common-modal-title{
	width: 100%;
    font-size:24px;
    letter-spacing: -0.5px;
}
.common_sub_top_menu_1 .common_sub_top_menu{
	border-top: 1px solid #ddd;
}
.common_sub_top_menu_1 .common_sub_top_menu a{
	font-size: 15px;
	line-height:15px;
}
.common_sub_top_menu_1 .common_sub_top_menu a span{
	padding: 16px 5px 14px;
}
.common_sub_top_menu2{
	width: 100%;
	height: 144px;
    border-bottom: 1px solid #eaebed;
}
.common_sub_top_title{
	width:1062px;
	font-size:26px;
	letter-spacing:-0.7px;
	color: #464646;
}
.common_sub_vi_custom{
	height: 144px;
	padding-top:38px;
	border-bottom: 1px solid #eaebed;
}
.common_sub_title_small{
	font-size: 16px;
	letter-spacing :-0.4px;
	color: #464646;
}
.common_sub_title_big{
	font-size: 26px;
	letter-spacing :-0.7px;
	color: #464646;
}
.common_circle_menu{
	text-align: center;
	padding: 64px 80px 70px 80px;
}
.common_circle_layout{
	width:100px;
	text-align: center;
}
.common_hr_custom{
	margin-top : -57px;
	width:85%;
}
.common_hr_custom1{
	width:100%;
  	border-top: solid 1px #1d62ab;
}
.common_hr_blue{
	width:100%;
	border-top-color: #1d62ab;
}
.common_dot{
	width: 10px;
  	height: 10px;
  	border-radius: 5px;
  	background-color: #1d62ab;
  	display: inline-block;
    margin-right: 10px;
}
.common_circle_invest{
	width: 52px;
  	height: 52px;
  	border-radius: 26px;
  	background-color: #d8d8d8;
  	display: inline-block;
  	font-size:26px;
  	line-height: 48px;
  	color:#ffffff;
  	text-align: center;
}
.common_circle_success{
	width: 52px;
  	height: 52px;
  	border-radius: 26px;
  	display: inline-block;
	background-image:url("img/check_circle_off.png");
	background-repeat:no-repeat;
	background-position:50% 50%;
	margin-bottom: -10px;
}
.common_circle_success_on{
	width: 52px;
  	height: 52px;
  	border-radius: 26px;
  	display: inline-block;
	background-repeat:no-repeat;
	background-position:50% 50%;
	margin-bottom: -10px;
	background-image:url("img/check_circle_on.png");
}
.common_mypage_title{
	display: table-cell;
    width: 100%;
    height: 192px;
    font-size: 34px;
    line-height: 38px;
    text-align: center;
    letter-spacing: -0.7px;
    vertical-align: middle;
}
.container_custom{
	width: 1080px !important;
	margin:0 auto;
}
.mypage_container{
	width:1040px;
	padding: 0;
    margin: 40px auto;
}
.mypage-sub-menu{
	height:36px;
	width:100%;
	border: solid 1px #cccccc;
	color: #cccccc;
	font-size: 16px;
	line-height: 36px;
	text-align: center;
}
.mypage-sub-menu-on{
	border: solid 1px #1d62ab;
	color: #ffffff;
	background: #1d62ab;
}
.mypage-setting-sub-box{
	width:158px;
	height:159px;
	border:solid 1px #eaebed;
	padding:22px 12px;
	margin-top:41px;
}
.mypage-setting-sub-box ul{
    padding:0;
    font-size:15px;
    position: absolute;
    bottom: 0;
}
.mypage-setting-sub-box li.active a {
    color: #1d62ab;
}
.mypage-setting-name{
	font-size:22px;
	line-height:22px;
	margin-bottom:5px;
	font-weight:bold !important;
}
.mypage-setting-name-1{
	font-size: 13px;
    font-weight: bold !important;
    line-height: 18px;
    margin-bottom: 5px;
}
.mypage-setting-email{
	font-size:10px;
	line-height:10px;
}
.mypage-setting-layout{
	width:430px;
	margin:60px auto 80px;
	text-align: center;
}
.mypage-setting-big-text{
	font-size:24px;
	line-height:34px;
}
.mypage-setting-small-text{
	font-size:15px;
	margin-top:20px;
	display: inline-block;
	line-height:23px;
}
.mypage-setting-color-text{
	color:#1d62ab;
}
.mypage-btn-1{
	width: 256px;
    display: inline-block;
    height: 40px !important;
    font-size: 16px;
    border: 1px solid #1d62ab;
    border-radius: 4px;
    line-height: 36px;
    color:#1d62ab;
    cursor: pointer;
}
.mypage-btn-2 {
	width: 160px;
    display: inline-block;
    height: 40px !important;
    font-size: 16px;
    border: 1px solid #464646;
    border-radius: 4px;
    line-height: 36px;
    cursor: pointer;
}
.mypage-btn-active {
    border-color: #1d62ab !important;
    color: #1d62ab !important;
}
.mypage-myaccount-layout{
	display:flex;
	justify-content: center;
}
.mypage-myaccount-photo{
	margin-right:45px;
}
.mypage_jumin input{
	width:48.5%;
}
.mypage-title{
	font-size:24px;
	letter-spacing:-0.6px;
	line-height:24px;
}
.mypage-form{
	width:300px;
}
.mypage-form .form-control{
	height:34px;
	font-size:15px;
	margin-bottom:12px;
}
.mypage-rabel{
	font-size:13px;
	font-weight: 300;
	color:#9f9f9f;
	line-height:20px;
}
.mypage-margin-layout{
	margin-top:-12px;
	margin-bottom:5px;
}
.mypage-btn{
	height:34px;
    border: 1px solid #1d62ab;
    border-radius: 0px;
    color: #1d62ab;
    padding:0;
   	margin-bottom: 12px;
    line-height: 31px;
    font-size:15px;
    text-align: center;
    cursor: pointer;
}
.mypage-tel-layout1{
	width:80%;
	margin-right:10px;
}
.mypage-tel-layout2{
	min-width: 100px;
	letter-spacing: -0.5px;
}
.mypage-zip-layout1{
	width: calc(100% - 45px);
	margin-right:10px;
}
.common-flex-end{
	display:flex; 
	justify-content: flex-end;
    align-items: flex-end;
}
.mypage-btn-search {
	width:34px;
	height:34px;
	cursor:pointer;
	background-image: url("img/dropdown-search-3.png");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 18px 18px;
	border: 1px solid #cccccc;
    margin-bottom: 12px;
    cursor: pointer;
}
.mypage-form .chk_container{
	font-size:15px;
	letter-spacing:-0.3px;
	font-weight:300;
	margin-top: -5px;
    margin-bottom: 0px;
}
.mypage-setting-btn{
    display: block;
	width: 100%;
    height: 34px;
    background: #1d62ab;
    color: #ffffff;
    font-size: 15px;
    line-height: 34px;
    border-radius: 4px;
    text-align: center;
    margin:0 auto;
    cursor: pointer;
}
.mypage-setting-btn-small{
	display: block;
	width: 76px;
    height: 22px;
    background: #1d62ab;
    color: #ffffff;
    font-size: 13px;
    line-height: 22px;
    border-radius: 4px;
    text-align: center;
    z-index: 100;
    cursor: pointer;
}
.mypage-setting-btn-cancle{
	color: #1d62ab !important;
	border: 1px solid #1d62ab;
	background: #ffffff !important;
	margin-right:10px;
	cursor: pointer;
}
.mypage-desc{
	font-size: 15px;
    line-height: 24px;
    letter-spacing: -0.3px;
    margin-top: 15px;
    color:#464646;
}
.mypage-myaccount-desc-1{
	margin-top: 15px;
    color: #ff0070;
}
.mypage-form li{
	letter-spacing:-0.3px;
}
.gray-btn{
	background:#cccccc !important;
}
.not-allowed-btn{
	background:#cccccc !important;
	cursor:not-allowed !important;
}
.common-default-flex{
	display:flex;
}
.common-flex-between{
	display:flex;
	justify-content:space-between;
}
.mypage_width_change{
	width:190px;
}
.mypage-radio-custom{
	width: 100px !important;
    min-width: 100px !important;
    height: 34px !important;
    line-height: 30px !important;
}
.mypage-radio-custom-1{
	width: 150px !important;
    min-width: 100px !important;
    height: 34px !important;
    line-height: 30px !important;
}
.mypage-radio-custom-2{
	width: 24.9% !important;
	min-width: 75px !important;
    height: 34px !important;
    line-height: 30px !important;
}
.mypage-setting-desc{
	font-size:13px !important;
	line-height:24px !important;
	letter-spacing:-0.3px !important;
}
.mypage-select-custom .select2-container--default{
	width:120px !important;
	min-width: 120px !important; 
	margin-right:10px;
}
.mypage-setting-link-custom{
	text-align: right;
    display: block;
    margin-top: -15px;
}
.mypage-sub-title{
	font-size:18px;
	line-height:18px;
	letter-spacing:-0.3px;
}
.common_block_box{
	width:100%;
	height: 74px;
	background:#1d62ab;
	opacity:0.1;
	border-radius: 9px;
	margin-bottom: 20px;
}
.mypage-setting-block-box{
	width:100%;
	height: 61px;
	background:#1d62ab;
	opacity:0.1;
	border-radius: 4px;
}
.mypage-setting-block-box1{
	width:100%;
	height: 128px;
	background:#1d62ab;
	opacity:0.1;
	border-radius: 4px;
}
.common-account-info-box{
	width:100%;
	height: 248px;
	background:#1d62ab;
	opacity:0.1;
	border-radius: 4px;
}
.mypage-setting-block-box2{
	width:100%;
	height: 84px;
	background:#1d62ab;
	opacity:0.1;
	border-radius: 4px;
}
.mypage-setting-agree{
	margin-top: -50px;
    margin-left: 6px;
    line-height: 20px;
    font-size: 13px;
}
.mypage-setting-agree .checkmark{
	background-color: white;
    margin-top: -3px;
    border: solid 1px #cccccc;
}
.mypage-setting-virtual-text{
	margin-top: -110px;
}
.mypage-setting-virtual-text1{
	font-size:14px;
	line-height:14px;
	margin-bottom: 28px;
	font-weight:bold;
}
.mypage-virtual-listbox{
    padding-top: 12px;
    display: flex;
    height: 75px;
    border-bottom: 1px solid #cccccc;
}
.minusLine{
	width:10px;
}
.mypage-title-big{
	font-size:36px;
	line-height:40px;
	letter-spacing : -1px;
	color:#000000;
	margin-top:40px;
}
.mypage-step-box{
	height:35px;
	text-align:left;
	font-size:13px;
	color:#cccccc;
	border-bottom: 1px solid #cccccc;
}
.mypage-step-box-blue{
	color:#1d62ab !important;
	border-bottom: 1px solid #1d62ab !important;
}
.mypage-accoun-box-margin{
	margin: -70px 0px 30px 20px;
}
.mypage-default-btn{
    min-width: 45px;
    height: 34px;
    border: 1px solid #1d62ab;
    border-radius: 0px;
    color: #1d62ab;
    text-align:center;
    padding: 0;
    margin-bottom: 12px;
    line-height: 31px;
    margin-left: 5px;
    font-size: 15px;
   	cursor:pointer;
}
.mypage-hr-custom{
	width:20px;
	padding-left:5px;
	padding-right:5px;
}
.reload-ico {
	width: 13px;
    height: 13px;
	border-color:#ccc !important;
	background-image:url("img/reload.png");
	background-repeat:no-repeat;
	background-size:13px 13px;
}
.ivs-danger-bottom{
	max-width:520px;
	margin: 0 auto;
}
.ivs-funding-limit-layout{
	width: 425px;
	margin-right:100px;
}
.ivs-funding-limit-layout1{
	width: 530px;
	display:none;
}
.ivs-funding-limit-layout2{
	display: flex;
    align-items: center;
}
.ivs-funding-limit-layout3{
	width:530px;
	display:black;
}
.ivs-funding-limit-amount{
	font-size: 34px;
    letter-spacing: -0.5px;
    font-weight: bold;
    line-height: 38px;
}
.ivs-funding-limit-amount1{
    font-size: 38px;
    letter-spacing: -0.6px;
    line-height: 38px;
}
.ivs-funding-input-custom{
	height: 35px;
    margin-left: 20px;
    min-width: 224px;
}
.plus-ico{
	font-size:30px;
	color:#d8d8d8;
	transform: rotate(45deg);
}
.equl-ico{
	font-size:30px;
	color:#d8d8d8;
}
.ivs-danger-title{
	font-size:22px;
}
.ivs-danger-quest{
	font-size: 16px;
}
.ivs-danger-bottom-text{
	font-size: 22px;
}
.ivs-danger-step-title{
	font-size: 18px;
}
.ivs-funding-limit-text{
	font-size: 24px;
}
.ivs-funding-limit-text1{
	font-size: 22px;
}
.ivs-funding-limit-title{
	font-size: 26px;
}
.ivs-confirm-layout{
	display: flex;
}
.ivs-funding-limit-amout{
	width:40%;
	text-align: right;
}
.mypage-file-layout{
	display: inline-flex !important;
	width:100% !important;
}

label.radio-inline>input[type=radio]+span.label-custom::before{
	border: solid 1px #cccccc;
	content: "";
	display:inline-block;
	width: 16px;
    height: 16px;
    margin-bottom: -2px;
    margin-right: 5px;
}
label.radio-inline>input[type=radio]:checked+span.label-custom::before {
	background-color: #1d62ab;
	border: solid 1px #1d62ab;
}
.mypage-list-layout1{
	width:25%;
}
.mypage-list-layout2{
	width:40%;
}
.mypage-list-layout3{
	width:35%;
}
.account-main-layout{
	margin:50px auto; 
	width:334px;
}
.common-account-info-text{
	margin-top:-250px;
	margin-left:30px;
}
.mypage-tel-width{
	width:calc(-110px + 100%) !important;
}
.mypage-amount-width{
	width: calc(-50px + 100%) !important;
}
.mypage-code-width{
	width:calc(-135px + 100%) !important;
}
.mypage-date-width input{
	width:calc(-30px + 50%) !important;
}
.mypage-search-width{
	width:calc(-45px + 100%) !important;
}
.mypage-select-custom input{
	width:calc(-135px + 100%) !important;
}
.common-flex-center{
	display:flex;
	align-items: center;
}
.common-flex-between-center{
	display:flex;
	justify-content: space-between;
	align-items: center;
}
.egnolerValue{
	width:auto;
}
.date-picker-height input{
	line-height: 16px !important;
}
.mypage-virtual-text{
	font-size:12px;
	letter-spacing:-0.3px;
	color:#9f9f9f !important;
	line-height: 15px;
}
.common-menu-bottom{
	padding-top:20px;
	width:100%;
	height:60px;
	text-align:center;
	border-bottom: 1px solid #eaebed;
}
.common-menu-back{
	width:334px;
	margin:0 auto;
	text-align:left;
}

@media only screen and ( max-width: 1200px) {
	.container_custom{
		width: 100% !important;
		padding:0 60px;
	}
	.ivs-funding-limit-layout{
		width: 425px;
		margin: 0px auto 0px;
	}
	.ivs-funding-limit-layout1{
		width: 425px;
		display:block;
	}
	.ivs-funding-limit-layout3{
		display:none;
	}
	.ivs-funding-limit-amount1{
	    font-size: 24px;
	    letter-spacing: -0.4px;
	    line-height: 32px;
	}
	.ivs-funding-limit-text{
		font-size: 18px;
	}
	.ivs-funding-limit-text1{
		font-size: 16px;
	}
	.common-account-info-box{
		margin-top:30px;
		width: 100%;
		height: 172px;
		border-radius: 10px;
	}
	.common-account-info-text{
		margin-top:-180px;
	}
}

@media only screen and ( max-width: 1023px) {

}

/* MOBILE */
@media only screen and ( max-width: 767px) {
	.ivs-funding-limit-layout{
		width:100%;
	}
	.ivs-funding-limit-layout1{
		width: 100%;
	}
	.ivs-confirm-layout{
		display: block;
	}
	.mypage-myaccount-layout{
		display:inline-block;
		justify-content: center;
		width:100%;
	}
	.mypage-form{
		width:100%;
	}
	.common_mypage_title_xs{
		text-align: center;
	    margin: 20px auto;
	    font-size: 24px;
	}
	.mypage-radio-custom{
		width: 33% !important;
		min-width: 100px !important;
	}
	.option1_radio{
		width:100%;
	}
	.mypage-radio-custom-1{
		width: 49.5% !important;
	    min-width: 100px !important;
	}
	.mypage-jumin-number input{
		width:49%;
	}
	.mypage-btn-2{
		width:128px;
	}
	.mypage-setting-big-text{
		font-size:20px;
	}
	.mypage-setting-layout{
		width:100%;
		margin:40px auto 80px;
	}
	.account-main-layout{
		margin:50px auto; 
	}
	.container_custom{
		padding:0 20px;
	}
	.common_sub_title_small{
		font-size: 13px;
	}
	.common_sub_title_big{
		font-size: 20px;
		line-height: 25px;
	}
	.ivs-danger-title{
		font-size:18px;
	}
	.ivs-danger-quest{
		font-size: 14px;
	}
	.ivs-danger-bottom-text{
		font-size: 20px;
	}
	.ivs-funding-limit-amount{
		font-size: 32px;
	}
	.ivs-danger-step-title{
		font-size: 14px;
	}
	.ivs-funding-limit-title{
		font-size: 18px;
	}
	.common_sub_vi_custom{
		height: 120px;
		padding-top:23px;
		border-bottom: 1px solid #eaebed;
	}
	.common_circle_invest{
		width: 36px;
	  	height: 36px;
	  	border-radius: 18px;
	  	font-size:18px;
	  	line-height: 36px;
	  	color:#ffffff;
	  	text-align: center;
	}
	.common_circle_success{
		width: 36px;
	  	height: 36px;
	  	border-radius: 18px;
		background-position:50% 50%;
		margin-bottom: -10px;
		background-size: contain;
	}
	.common_circle_success_on{
		width: 36px;
	  	height: 36px;
	  	border-radius: 18px;
		background-position:50% 50%;
		margin-bottom: -10px;
		background-size: contain;
	}
	.common_circle_menu{
		padding: 30px 0px 50px 0px;
	}
	.common_hr_custom{
		margin-top : -43px;
		width:80%;
	}
	.common-modal-content{
		width:340px;
		height:228px;
	}
	.common-modal-body{
		width:100%;
		height:100%;
		padding:19px 25px 28px 25px;
	}
	.common-modal-footer{
	    right: 25px;
	}
}

