/* Author:HtmlCoder&WebDesigner
 * Author URI:http://hom2box.com
 * Author e-mail:hbox78@gmail.com
 * Version:1.1
 * Created:2017
 * License URI:http://hom2box.com/
 */

.kepco-page-wrapper {
	position: relative;
	margin:0;
	padding:0;
}


.table-thead-blue2.table-bordered {
	border:none !important;
	margin-bottom:20px;
}
.table-thead-blue2 > thead > tr > th {
	color:#fff !important;
	background-color:#0a223f;
	border-color:#0a223f !important;
}
.table-thead-blue2 > thead > tr > th,
.table-thead-blue2 > tbody > tr > td {
	font-size:16px !important;
}
.table-thead-blue2.table-bordered > thead > tr th:first-child,
.table-thead-blue2.table-bordered > tbody > tr td:first-child {
	border-left:none !important;
}
.table-thead-blue2.table-bordered > thead > tr th:last-child,
.table-thead-blue2.table-bordered > tbody > tr td:last-child {
	border-right:none !important;
}
.table-thead-blue2.table-bordered > tbody tr:last-child td {
	border-bottom:none !important;
}

.ex-info-wrap {
	position: relative;
	color:#fff;
	font-size:16.8px;
	letter-spacing: -.033em;
	padding:70px 0 0;
	overflow:hidden;
	background-color:#0a223f;
}
.ex-info-wrap:before {
	content:"";
	position:absolute;
	left:50%;
	top:0;
	margin-left:-33px;
	border-left: 34px solid transparent;
	border-right: 34px solid transparent;
	border-top: 20px solid #fff;
}
.ex-info-wrap .ex-info-group {
	padding:0 35px 70px;
}
.ex-info-wrap .ex-info-group li span {
	font-size:15.8px;
}
.ex-info-wrap .btn-default-outline {
	display:block;
	margin:0 auto;
	color:#eee;
	border-color:#eee;
	background-color:#0a223f;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
}
.ex-info-wrap .btn-default-outline:hover,
.ex-info-wrap .btn-default-outline:active,
.ex-info-wrap .btn-default-outline.hover {
	color:#fff;
	border-color:#fff;
	background-color:#102a4b;
}
.ex-info-wrap .ex-info-group-title {
	display:block;
	margin:0 auto;
	width:240px;
	height:45px;
	line-height:47px;
	color:#0a223f;
	font-size:22px;
	text-align:center;
	font-weight: 700;
	overflow:hidden;
	background-color:#fff;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
}
.ex-info-wrap ul {
	margin:50px 0 0 0;
}
.ex-info-wrap ul li {
	line-height:28px;
	margin:0 0 40px;
}


.ex-list .rewards-subject {
	height: 50px;
	min-height: 50px;
	letter-spacing: -.033em;
	margin-bottom:10px;
}
.ex-list .rewards-summury {
	overflow:hidden;
	color:#777;
	font-size: 14px;
	line-height:22px;
	letter-spacing: -.033em;
	height: 71px;
	min-height: 71px;
}

.kepco-page-wrapper .btn-black {
	color:#fff;
	border-color:#0a223f;
	background-color:#0a223f;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
}
.kepco-page-wrapper .btn-black:hover,
.kepco-page-wrapper .btn-black:active,
.kepco-page-wrapper .btn-black:focus,
.kepco-page-wrapper .btn-black.hover {
	color:#fff;
	border-color:#0c2d56;
	background-color:#0c2d56;
}

.ex-search-wrap {
	margin-top:5px;
	margin-bottom:44px;
}
.ex-search-wrap .input-group-wrap .form-control {
	border-color: #0a223f;
}
.ex-search-wrap .input-group-wrap .input-group-btn .btn {
	border-color: #0a223f;
	background-color:#0a223f;
	background-image: url("img/btn-white-search.png");
}
.ex-search-wrap .input-group-wrap {
	display:block !important;
	-webkit-transition: all 300ms linear 0s;
	transition: all 300ms linear 0s;
}
.ex-search-wrap .input-group-wrap.active {
	position: relative;
	display:block !important;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}



.title-small {
	margin-bottom:54px !important;
}
.title-small .title-block {
	color:#0a223f;
	font-size: 22px;
	line-height: 22px;
}


.kepco-footer_wrap {
	margin-bottom:20px;
}
.kepco-footer_wrap .kepco-footer-line {
	padding:20px 0;
	text-align:center;
	border-top: 1px solid #0a223f;
}
.kepco-footer_wrap .kepco-footer-line img {
	height:22px;
	margin:0 40px;
}

.ex-top-img-wrap {
	text-align:center;
}
.ex-top-img-wrap img {
	display:block;
	margin:0 auto;
	width:100%;
	max-width:1920px;
}

.ex-gift-left,
.ex-gift-wrap {
	margin:0 auto;
	max-width:1920px;
	background-position: 100% 100%;
	background-repeat: no-repeat;
}
.ex-gift-left {
	min-height:990px;
	background-position: 0 100%;
}
.ex-gift-box {
	color:#0a223f;
	text-align:center;
	letter-spacing: -.033em;
	padding:55px 100px;
	background-position: 50% 100%;
	background-repeat: no-repeat;
	background-size:100% 1px;
}
.ex-gift-box2 {
	padding:55px 10px 0;
}
.ex-gift-box2 .ex-gift-box-g {
	position: relative;
	height:130px;
}
.ex-gift-box2 .ex-gift-box-g:before{
	content: '';
	position: absolute;
	top: 21px;
	left: 0;
	width:100%;
	height:2px;
	z-index:1;
	background-color:#363636;
}
.ex-gift-box2 .ex-gift-box-g.first-child:before{
	width:50%;
	left: auto;
	right: 0;
}
.ex-gift-box2 .ex-gift-box-g.last-child:before{
	width:50%;
}

.ex-gift-box img {
	width:120px;
	height:120px;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
	border: 1px solid #152c47;
}
.ex-gift-box2 h4 {
	font-size:22px;
	line-height:30px;
	font-weight: 700;
	margin:0 0 40px;
}
.ex-gift-box h5 {
	font-size:22px;
	margin:10px 0;
}
.ex-gift-box h6 {
	font-size:17px;
	line-height:22px;
	margin:0;
}
.ex-gift-title {
	color:#1d3149;
	font-size:22px;
	text-align:center;
	letter-spacing: -.05em;
	padding:35px 0 44px;
	background-position: 50% 100%;
	background-repeat: no-repeat;
	background-size:100% 1px;
}
.ex-gift-title h1 {
	color:#0a223f;
	font-size:58px;
	line-height:66px;
	margin:0 0 10px;
}
.ex-gift-title h2 {
	color:#0a223f;
	font-size:42px;
	line-height:50px;
	font-weight: 400;
	margin:0;
}
.ex-gift-title h2 span {
	position: relative;
	margin-left:11px;
	padding-left:18px;
}
.ex-gift-title h2 span:before{
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	width:2px;
	height:30px;
	margin-top:-15px;
	background-color:#898e98;
}
.ex-gift-title h3 {
	font-size:22px;
	line-height:34px;
	font-weight: 400;
	margin-top:50px;
}
.ex-gift-title h3 strong {
	color:#0a223f;
}
.ex-gift-box2 .ex-gift-box-g i {
	position: relative;
	z-index:2;
	display:block;
	margin:0 auto 25px;
	width:42px;
	height:42px;
	line-height:40px;
	color:#363636;
	font-size:22px;
	font-weight: 700;
	font-style:normal;
	text-align:center;
	overflow:hidden;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
	background-color:#fff;
	border: 2px solid #363636;
}

@media only screen and ( max-width: 1050px) {
	.ex-gift-left,
	.ex-gift-wrap {
		background-size:317px 400px;
	}
}

@media only screen and ( max-width: 991px) {
	.ex-list .rewards-subject {
		margin-bottom:5px;
	}

	.ex-info-wrap {
		font-size:15px;
		padding:50px 0 0;
	}
	.ex-info-wrap .ex-info-group {
		padding:0 0 40px;
	}
	.ex-info-wrap .ex-info-group li span {
		font-size:14px;
	}
	.ex-info-wrap ul {
		margin:35px 0 0 0;
	}
	.ex-info-wrap ul li {
		line-height:26px;
		margin:0 0 25px;
	}
	.ex-info-wrap .ex-info-group-title {
		width:200px;
		height:40px;
		line-height:42px;
		font-size:20px;
	}

	.ex-search-wrap {
		margin-top:20px;
		margin-bottom:42px;
	}
	.title-small {
		margin-bottom:10px !important;
	}
	.title-small .title-block {
		font-size: 18px !important;
		line-height: 20px !important;
	}

	.ex-gift-left,
	.ex-gift-wrap {
		background-size:277px 350px;
	}
	.ex-gift-left {
		min-height:800px;
	}


	.ex-gift-title {
		font-size:20px;
		padding:30px 0 45px;
	}
	.ex-gift-title h1 {
		font-size:39px;
		line-height:47px;
		margin:0 0 8px;
	}
	.ex-gift-title h2 {
		font-size:28px;
		line-height:36px;
	}
	.ex-gift-title h2 span {
		margin-left:9px;
		padding-left:16px;
	}
	.ex-gift-title h2 span:before{
		width:2px;
		height:22px;
		margin-top:-11px;
	}
	.ex-gift-title h3 {
		font-size:20px;
		line-height:32px;
		margin-top:35px;
	}

	.ex-gift-box {
		padding:40px 30px;
	}
	.ex-gift-box img {
		width:100px;
		height:100px;
	}
	.ex-gift-box2 h4 {
		font-size:20px;
		line-height:28px;
		margin:0 0 30px;
	}
	.ex-gift-box h5 {
		font-size:20px;
		margin:8px 0;
	}
	.ex-gift-box h6 {
		font-size:15px;
		line-height:20px;
	}

	.ex-gift-box2 {
		padding:40px 0 0;
	}
	.ex-gift-box2 .ex-gift-box-g {
		position: relative;
		height:130px;
	}
	.ex-gift-box2 .ex-gift-box-g:before{
		top: 21px;
	}
	.ex-gift-box2 .ex-gift-box-g i {
		margin:0 auto 20px;
		width:40px;
		height:40px;
		line-height:38px;
		font-size:20px;
	}
}

@media only screen and ( max-width: 767px) {

	.ex-info-wrap:before {
		margin-left:-19px;
		border-left: 20px solid transparent;
		border-right: 20px solid transparent;
		border-top: 15px solid #fff;
	}
	.ex-info-wrap .container {
		padding-left:0 !important;
		padding-right:0 !important;
	}
	.ex-info-wrap .ex-info-group {
		padding-left:10px;
		padding-right:10px;
	}
	.ex-info-wrap .ex-info-group.first-child {
		border-bottom: 5px solid #fff;
		margin-bottom:35px;
	}
	.ex-info-wrap .ex-info-group.last-child {
		margin-top:45px;
		padding-bottom:15px;
	}
	.ex-info-wrap .ex-info-group-title {
		width:160px;
		height:38px;
		line-height:40px;
		font-size:18px;
	}

	.ex-list .rewards-caption {
		padding: 15px 8px 10px;
	}
	.ex-list .rewards-subject {
		height: 40px;
		min-height: 40px;
		margin-bottom:5px;
	}
	.ex-list .rewards-summury {
		font-size: 12px;
		line-height:19px;
		height: 80px;
		min-height: 80px;
	}

	.ex-search-wrap {
		margin-top:15px;
		margin-bottom:37px;
	}
	.title-small {
		margin-bottom:0 !important;
	}
	.title-small .title-block {
		font-size: 16px !important;
		line-height: 18px !important;
	}

	.kepco-footer_wrap {
		margin-top:10px;
		margin-bottom:10px;
	}
	.kepco-footer_wrap .kepco-footer-line {
		padding:10px 0;
	}
	.kepco-footer_wrap .kepco-footer-line img {
		height:12px;
		margin:0 18px;
	}

	.ex-gift-left,
	.ex-gift-wrap {
		background-size:182px 230px;
	}
	.ex-gift-left {
		min-height:800px;
	}

	.ex-gift-title {
		font-size:15px;
		padding:20px 0 30px;
	}
	.ex-gift-title h1 {
		font-size:24px;
		line-height:32px;
		margin:0 0 4px;
	}
	.ex-gift-title h2 {
		font-size:17px;
		line-height:25px;
	}
	.ex-gift-title h2 span {
		margin-left:9px;
		padding-left:12px;
	}
	.ex-gift-title h2 span:before{
		width:1px;
		height:16px;
		margin-top:-8px;
	}
	.ex-gift-title h3 {
		font-size:15px;
		line-height:23px;
		margin-top:30px;
	}

	.ex-gift-box {
		padding:40px 20px;
	}
	.ex-gift-box img {
		width:70px;
		height:70px;
	}
	.ex-gift-box2 h4 {
		font-size:16px;
		line-height:24px;
		margin:0 0 20px;
	}
	.ex-gift-box h5 {
		font-size:16px;
		margin:10px 0 5px;
	}
	.ex-gift-box h6 {
		font-size:13px;
		line-height:19px;
		letter-spacing: -.05em;
	}

	.ex-gift-box2 {
		padding:40px 0 0;
	}
	.ex-gift-box2 .ex-gift-box-g {
		position: relative;
		height:130px;
	}
	.ex-gift-box2 .ex-gift-box-g:before{
		content: '';
		position: absolute;
		top: 21px;
		left: 0;
		width:100%;
		height:2px;
		z-index:1;
		background-color:#363636;
	}
	.ex-gift-box2 .ex-gift-box-g i {
		margin:0 auto 15px;
		width:38px;
		height:38px;
		line-height:36px;
		font-size:18px;
	}

	.table-thead-blue2 > thead > tr > th,
	.table-thead-blue2 > tbody > tr > td {
		font-size:14px !important;
	}
}



@media only screen and ( max-width: 400px) {
	.ex-gift-left {
		min-height:770px;
	}

	.ex-gift-title {
		font-size:14px;
		padding:15px 0 20px;
	}
	.ex-gift-title h1 {
		font-size:22px;
		line-height:30px;
		margin:0 0 4px;
	}
	.ex-gift-title h2 {
		font-size:15px;
		line-height:24px;
	}
	.ex-gift-title h2 span {
		margin-left:9px;
		padding-left:12px;
	}
	.ex-gift-title h2 span:before{
		height:14px;
		margin-top:-7px;
	}
	.ex-gift-title h3 {
		font-size:14px;
		line-height:22px;
		margin-top:25px;
	}
}