<!-- 크라우드펀딩 플랫폼의 새로운 지표 -->
<div id="sec01" class="mod-singular-section">
	<div class="mod-singular-section-in">
		<div class="mod-table">
			<div class="mod-table-td">
				<div class="container container_2 container_size">
					<div class="mod-nav-text1"></div>

					<div class="mod-text">
						꿈과 아이디어를 가진 개설자와 이를 증폭시켜주는 <br class="hidden-sm hidden-md hidden-lg" />참여자가 만나<br class="hidden-xs" />
						새로운 가치를 창출하는 <strong>크라우드펀딩 <br class="hidden-sm hidden-md hidden-lg" />플랫폼의 새로운 지표</strong>입니다.
					</div>
					<a href="javascript:void(0)" class="mod-singular-pager mod-singular-next js-singular-next">scroll</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- //크라우드펀딩 플랫폼의 새로운 지표 -->

<!-- 아이디어와 꿈들은 공유되어야만 빛을 발합니다 -->
<section id="sec02" class="mod-singular-section">
	<div class="mod-singular-section-in">
		<div class="mod-table">
			<div class="mod-table-td">
				<div class="container container_2 container_size">
					<div class="mod-text">
						<div class="rest_left webfont2">
							<div class="rest_right">
								아이디어와 꿈들은 <strong>공유<br class="hidden-sm hidden-md hidden-lg" />되어야만</strong> 빛을 발합니다
							</div>
						</div>
						<p>
							현재 우리는 마음이 맞는 사람들과 협업하고 가치를 <br class="hidden-sm hidden-md hidden-lg" />창출해내는 것이 매우 간편해진 사회에서 살고 있습니다.<br />
							이는 투명하고 신뢰할만한 온라인 플랫폼 속에서 <br class="hidden-sm hidden-md hidden-lg" />상호작용이 가능해진 덕분입니다.
						</p>
					</div>
					<div class="row mb50 xs-mb0">
						<div class="col-sm-4 xs-mb20">
							<img src="/resources/img/sec02_img1.jpg" class="img-responsive hidden-xs" alt="아이디어의 확산은 친구들이나 가족들, 더 나아가 대중이 이끌어 갑니다" />
							<img src="/resources/img/m_sec02_img1.jpg" class="img-responsive hidden-sm hidden-md hidden-lg" alt="아이디어의 확산은 친구들이나 가족들, 더 나아가 대중이 이끌어 갑니다" />
						</div>
						<div class="col-sm-4 xs-mb20">
							<img src="/resources/img/sec02_img2.jpg" class="img-responsive hidden-xs" alt="제품에 대한 결정이 소수나 작은 집단이 아닌 대중과 시장이 만들어갑니다" />
							<img src="/resources/img/m_sec02_img2.jpg" class="img-responsive hidden-sm hidden-md hidden-lg" alt="제품에 대한 결정이 소수나 작은 집단이 아닌 대중과 시장이 만들어갑니다" />
						</div>
						<div class="col-sm-4">
							<img src="/resources/img/sec02_img3.jpg" class="img-responsive hidden-xs" alt="제품 통제 권한은 제조업자나 대기업이 아닌 창작자에게 있습니다" />
							<img src="/resources/img/m_sec02_img3.jpg" class="img-responsive hidden-sm hidden-md hidden-lg" alt="제품 통제 권한은 제조업자나 대기업이 아닌 창작자에게 있습니다" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- //아이디어와 꿈들은 공유되어야만 빛을 발합니다 -->

<!-- CROWDY가 추구하는 것들 -->
<section id="sec03" class="mod-singular-section">
	<div class="mod-singular-section-in">
		<div class="mod-table">
			<div class="mod-table-td xs-pb30">
				<div class="container container_2">
					<div class="mod-text">
						CROWDY가<br />추구하는 것들
					</div>
					<div class="row">
						<div class="col-sm-4 xs-mb30">
							<img src="/resources/img/sec03_img1.png" class="img-responsive" alt="MISSION" />
							<p>
								CROWDY는 꿈과 아이디어를 함께 나누며 <br class="hidden-sm" />
								서로의 뜻을 공유하고 실현 할 수 있는 역동적인 <br class="hidden-sm" />
								온라인 <span>창의와 신뢰의 금융 공간</span>을 창조합니다
							</p>
						</div>
						<div class="col-sm-4 xs-mb30">
							<img src="/resources/img/sec03_img2.png" class="img-responsive" alt="VISION" />
							<p>
								CROWDY는 사회가치 창출을 위한 창의적이고 <br class="hidden-sm" />
								의미 있는 프로젝트들을 실현할 수 있는 <span>역동적인 <br class="hidden-sm" />
								공간과 친밀한 커뮤니케이션을 구축</span>합니다
							</p>
						</div>
						<div class="col-sm-4">
							<img src="/resources/img/sec03_img3.png" class="img-responsive" alt="VALUE" />
							<p class="xs-mb0">
								R.I.S.E with passion <br />
								Respect Inspiration <br />
								Simplicity Excellence <br />
								with passion
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- //CROWDY가 추구하는 것들 -->

<!-- CROWDY가 소중히 여기는 것들 -->
<section id="sec04" class="mod-singular-section">
	<div class="mod-singular-section-in">
		<div class="mod-table">
			<div class="mod-table-td xs-pb20">
				<div class="container container_2 sectext_loop container_size">
					<div class="row not-space">
						<div class="col-sm-6 col-md-5">
							<img src="/resources/img/sec04_img1.png" class="img-responsive hidden-xs" alt="..." />
							<img src="/resources/img/m_sec04_img1.png" class="img-responsive hidden-sm hidden-md hidden-lg" alt="..." />
						</div>
						<div class="col-md-1 hidden-xs hidden-sm"></div>
						<div class="col-sm-6 text-left">
							<div class="sectext_loop_img">
								<img src="/resources/img/sec04_text1.png" class="img-responsive" alt="1" />
							</div>
							<p class="first-child">
								CROWDY가 소중히 여기는 것들<br />
								<span class="blue-800">그 첫번째</span>
							</p>
							<p>
								CROWDY는 ‘커뮤니티’라는 단어를 가장 우선으로생각합니다. <br class="hidden-xs hidden-sm" />
								지역, 관심주제, 학교별로 공동체를 형성하여 그 속의 상호작용을 통해 <br class="hidden-xs hidden-sm" />
								실현해내는 아이디어와 꿈을 위해 CROWDY가 존재합니다.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- //CROWDY가 소중히 여기는 것들 -->

<!-- CROWDY가 소중히 여기는 것들 -->
<section id="sec05" class="mod-singular-section sec05">
	<div class="mod-singular-section-in">
		<div class="mod-table">
			<div class="mod-table-td xs-pt20 xs-pb20">
				<div class="container container_2 sectext_loop hidden-sm hidden-md hidden-lg container_size">
					<div class="row not-space">
						<div class="col-sm-6 col-md-5">
							<img src="/resources/img/m_sec05_img1.png" class="img-responsive" alt="..." />
						</div>
						<div class="col-md-1 hidden-xs hidden-sm"></div>
						<div class="col-sm-6 text-left">
							<div class="sectext_loop_img">
								<img src="/resources/img/sec05_text1.png" class="img-responsive" alt="1" />
							</div>
							<p class="first-child">
								CROWDY가 소중히 여기는 것들<br />
								<span class="blue-800">그 두번째</span>
							</p>
							<p>
								CROWDY는 우리의 미래인 학생들에게 공유경제 확장의 원리와 가치를 <br class="hidden-xs hidden-sm" />
								익히는데 앞장서고 싶습니다. 이를 위해 CROWDY는 학교, 교육관련 전문가들, <br class="hidden-xs hidden-sm" />
								정부기관 그리고 가장 중요한 부분인 학생들과 소통하여 성공적인 <br class="hidden-xs hidden-sm hidden-lg" />프로젝트를 <br class="hidden-xs hidden-sm hidden-md" />
								만들 수 있는 프로그램을 개발하고 있습니다. <br class="hidden-lg" /><br class="hidden-sm hidden-md hidden-lg" />CROWDY는 특별히 차별화된 플랫폼의 <br class="hidden-xs hidden-sm hidden-md" />
								기능들을 통해 학생들이 <br class="hidden-xs  hidden-lg" />기획, 제작, 운영, 소통, 자금 조달 능력을 키우며 그들의 <br class="hidden-xs" />
								아이디어와 꿈을 실현시킬 수 있도록 돕습니다.
							</p>
						</div>
					</div>
				</div>

				<div class="container container_2 sectext_loop sectext_loop_left hidden-xs">
					<div class="row not-space">
						<div class="col-sm-7 col-md-6 text-right">
							<div class="sectext_loop_img">
								<img src="/resources/img/sec05_text1.png" class="img-responsive" alt="2" />
							</div>
							<p class="first-child">
								CROWDY가 소중히 여기는 것들<br />
								<span class="blue-800">그 두번째</span>
							</p>
							<p>
								CROWDY는 우리의 미래인 학생들에게 공유경제 확장의 원리와 가치를 <br class="hidden-sm" />
								익히는데 앞장서고 싶습니다. 이를 위해 CROWDY는 학교, 교육관련 전문가들, <br class="hidden-sm" />
								정부기관 그리고 가장 중요한 부분인 학생들과 소통하여 성공적인 <br class="hidden-sm hidden-lg" />프로젝트를 <br class="hidden-sm hidden-md" />
								만들 수 있는 프로그램을 개발하고 있습니다. <br class="hidden-lg" />CROWDY는 특별히 차별화된 플랫폼의 <br class="hidden-sm hidden-md" />
								기능들을 통해 학생들이 <br class="hidden-lg" />기획, 제작, 운영, 소통, 자금 조달 능력을 키우며 그들의 <br />
								아이디어와 꿈을 실현시킬 수 있도록 돕습니다.
							</p>
						</div>
						<div class="col-md-1 hidden-xs hidden-sm"></div>
						<div class="col-sm-5">
							<img src="/resources/img/sec05_img1.png" class="img-responsive" alt="..." />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- //CROWDY가 소중히 여기는 것들 -->


<!-- CROWDY가 소중히 여기는 것들 -->
<section id="sec06" class="mod-singular-section">
	<div class="mod-singular-section-in">
		<div class="mod-table">
			<div class="mod-table-td xs-pt20 xs-pb55">
				<div class="container container_2 sectext_loop container_size">
					<div class="row not-space">
						<div class="col-sm-5">
							<img src="/resources/img/sec06_img1.png" class="img-responsive hidden-xs" alt="..." />
							<img src="/resources/img/m_sec06_img1.png" class="img-responsive hidden-sm hidden-md hidden-lg" alt="..." />
						</div>
						<div class="col-md-1 hidden-xs hidden-sm"></div>
						<div class="col-sm-7 col-md-6 text-left ">
							<div class="sectext_loop_img">
								<img src="/resources/img/sec06_text1.png" class="img-responsive" alt="3" />
							</div>
							<p class="first-child">
								CROWDY가 소중히 여기는 것들<br />
								<span class="blue-800">그 세번째</span>
							</p>
							<p>
								아이디어를 확산시키고 혁신을 이끌어 나갈 조직들이 CROWDY의 <br class="hidden-xs hidden-sm" />
								파트너로서 함께 성장하고 있습니다. 단독으로 운영되는 파트너 페이지를 <br class="hidden-xs hidden-sm" />
								통해 브랜드 이미지를 높일 수 있는 그들만의 공간을 형성하고 있습니다.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- //CROWDY가 소중히 여기는 것들 -->

<!-- 금융업계 최고의 전문가 -->
<section id="sec07" class="mod-singular-section">
	<div class="mod-singular-section-in">
		<div class="mod-table">
			<div class="mod-table-td">
				<div class="container container_2 ceo-wrap container_size">
					<div class="row not-space" data-plugin="nav-tabs" role="tablist">
						<div class="col-sm-4">
							<div class="ceo_title_text webfont2">
								<span class="blue-800">금융업계 최고의 <br class="hidden-xs" />
								전문가</span>들이 <br class="hidden-sm hidden-md hidden-lg" />모인 <br class="hidden-xs" />
								크라우드펀딩 회사
							</div>
						</div>
						<div class="col-sm-8">
							<ul class="row row-mobile xs-mt30 mb0">
								<li class="col-xs-4 active mb0">
									<a data-toggle="tab" href="#m_ceoTabs1" aria-controls="m_ceoTabs1" role="tab">
										<div class="ceo-box">
											<div class="hover-border hidden-xs hidden-sm hidden-md">
												<div><span>자세히 보기</span></div>
											</div>
											<div class="over-line">
												<div></div>
												<img src="/resources/img/ceo_0.jpg" class="img-responsive" alt="scott h. jung 대표" />
											</div>
										</div>
										<p class="ceo_name">Scott H. Jung <span class="hidden-xs">이사회 의장</span></p>
									</a>
								</li>
								<li class="col-xs-4 mb0">
									<a data-toggle="tab" href="#m_ceoTabs2" aria-controls="m_ceoTabs2" role="tab">
										<div class="ceo-box">
											<div class="hover-border hidden-xs hidden-sm hidden-md">
												<div><span>자세히 보기</span></div>
											</div>
											<div class="over-line">
												<div></div>
												<img src="/resources/img/ceo_2.jpg" class="img-responsive" alt="김기석 대표" />
											</div>
										</div>
										<p class="ceo_name">김기석 <span class="hidden-xs">대표</span></p>
									</a>
								</li>
								<li class="col-xs-4 mb0">
									<a data-toggle="tab" href="#m_ceoTabs3" aria-controls="m_ceoTabs3" role="tab">
										<div class="ceo-box">
											<div class="hover-border hidden-xs hidden-sm hidden-md">
												<div><span>자세히 보기</span></div>
											</div>
											<div class="over-line">
												<div></div>
												<img src="/resources/img/ceo_3.jpg" class="img-responsive" alt="김주원 대표" />
											</div>
										</div>
										<p class="ceo_name">김주원 <span class="hidden-xs">대표</span></p>
									</a>
								</li>
							</ul>
						</div>
					</div>

					<div class="tab-content">
						<!-- Scott H. Jung 대표 -->
						<div class="tab-pane active ceo_tab_contents"  id="m_ceoTabs1" role="tabpanel">
							<div th:replace="crowdy/ceo/scott"></div>
						</div>
						<!-- Scott H. Jung 대표 -->

						<!-- 김기석 대표 -->
						<div class="tab-pane ceo_tab_contents"  id="m_ceoTabs2" role="tabpanel">
							<div th:replace="crowdy/ceo/kk"></div>
						</div>
						<!-- //김기석 대표 -->

						<!-- 김주원 대표 -->
						<div class="tab-pane ceo_tab_contents"  id="m_ceoTabs3" role="tabpanel">
							<div th:replace="crowdy/ceo/juwon"></div>
						</div>
						<!-- //김주원 대표 -->
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- //금융업계 최고의 전문가 -->

<!-- 배너 -->
<!-- <section class="mod-singular-section dreamm_maker">
	<div class="mod-singular-section-in">
		<div class="mod-table">
			<div class="mod-table-td xs-pb0">
				<div class="container container_2">
					<div class="dreamm_maker_title">
						<span class="webfont2">세상을 바꾸는 아름다운 기업들</span>
						<p>크라우디와 함께 세상을 따뜻하게 밝혀주는 <br class="hidden-sm hidden-md hidden-lg" />아름다운 기업들을 소개합니다.</p>
					</div>
					<company-mobile-banner :pc="false"></company-mobile-banner>
				</div>

				<div class="mcrowdy_banner">
					상상, 현실이 되는 그곳.
				</div>
			</div>
		</div>
	</div>
</section> -->
<!-- //배너 -->
