<div class="clearfix"></div>
      
<!-- Channel Plugin Scripts -->
<script>
  ;window.channelPluginSettings = {
    "pluginKey": "14395221-358d-4eaf-aa74-7af315752ed0"
  };
  (function() {
    var w = window;
    if (w.ChannelIO) {
      return (window.console.error || window.console.log || function(){})('ChannelIO script included twice.');
    }
    var d = window.document;
    var ch = function() {
      ch.c(arguments);
    };
    ch.q = [];
    ch.c = function(args) {
      ch.q.push(args);
    };
    w.ChannelIO = ch;
    function l() {
      if (w.ChannelIOInitialized) {
        return;
      }
      w.ChannelIOInitialized = true;
      var s = document.createElement('script');
      s.type = 'text/javascript';
      s.async = true;
      s.src = 'https://cdn.channel.io/plugin/ch-plugin-web.js';
      s.charset = 'UTF-8';
      var x = document.getElementsByTagName('script')[0];
      x.parentNode.insertBefore(s, x);
    }
    if (document.readyState === 'complete') {
      l();
    } else if (window.attachEvent) {
      window.attachEvent('onload', l);
    } else {
      window.addEventListener('DOMContentLoaded', l, false);
      window.addEventListener('load', l, false);
    }
  })();
</script>
<!-- End Channel Plugin -->

  
<footer class="footer_wrap">
    <div class="footer_wrap_top" style="padding: 14px 0px 0px">
        <div class="container">
            <div class="row not-space">
                <div class="col-md-4">
                    <div class="footer_logo" style="margin-top:0px; margin-bottom: 10px">CROWDY</div>
                    <a href="https://goo.gl/maps/caEToKHA8kM2" target="_blank" class="hidden-xs hidden-sm" style="font-size: 12px">서울시 강남구 도곡로 112 서한빌딩 2층</a>
                </div>
                <div class="col-xs-12 col-md-5 hidden-xs">
                    <div class="row not-space">
                        <div class="col-xs-6 col-sm-6">
                            <div class="foot_link_group">
                                <div class="foot_link_group_title">
                                    <strong>ABOUT CROWDY</strong>
                                </div>
                                <div class="foot_link_list">
                                    <ul>
                                        <li><a href="/crowdy/info">크라우디란?</a></li>
                                        <li><a href="/news/main">크라우디 새소식</a></li>
                                        <li><a href="/community/main">커뮤니티 파트너</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6">
                            <div class="foot_link_group">
                                <div class="foot_link_group_title">
                                    <strong>HELP</strong>
                                </div>
                                <div class="foot_link_list">
                                    <ul>
                                        <li><a href="/crowdy/help" target="_blank">도움말</a></li>
                                        <li><a href="/crowdy/term?menu=1">회원가입 기본약관</a></li>
                                        <li><a href="/crowdy/term?menu=2">CROWDY 이용약관(리워드)</a></li>
                                        <li><a href="/crowdy/term?menu=3">CROWDY 이용약관(투자)</a></li>
                                        <li><a href="/crowdy/term?menu=4">개인정보 보호정책(리워드)</a></li>
                                        <li><a href="/crowdy/term?menu=5">개인정보 보호정책(투자)</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-3">
                    <div class="row not-space m-mt20">
                        <div class="col-md-11">
                            <div class="row row-mobile-n">
                                <div class="col-sm-7 col-md-12">
                                    <div class="m-ml15 xs-ml0">
                                        <div class="foot_link_group_title">
                                            <strong>리워드 (<a href="tel:02-6954-2569">02-6954-2569</a>)</strong>
                                        </div>
                                        <div class="row not-space">
                                            <div class="col-sm-10">
                                                <div class="foot_link_group">
                                                    <div class="foot_contact">
                                                        <a href="mailto:info@ycrowdy.com" class="nth-child2"><span>mail</span></a>
                                                        <a href="https://www.facebook.com/ycrowdy" target="_blank" class="nth-child3"><span>facebook</span></a>
                                                        <a href="http://pf.kakao.com/_tYuWu" target="_blank" class="nth-child8"><span>kakaotalk</span></a>
                                                        <a href="http://blog.naver.com/crowdy0903" target="_blank" class="nth-child9"><span>naver</span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-7 col-md-12">
                                    <div class="m-ml15 xs-ml0">
                                        <div class="foot_link_group_title">
                                            <strong>투자 (<a href="tel:02-6954-2568">02-6954-2568</a>)</strong>
                                        </div>
                                        <div class="row not-space">
                                            <div class="col-sm-10">
                                                <div class="foot_link_group">
                                                    <div class="foot_contact">
                                                        <a href="mailto:invest@ycrowdy.com" class="nth-child2"><span>mail</span></a>
                                                        <a href="https://www.facebook.com/crowdy.invest" target="_blank" class="nth-child3"><span>facebook</span></a>
                                                        <a href="https://pf.kakao.com/_MxhTVd" target="_blank" class="nth-child8"><span>kakaotalk</span></a>
                                                        <a href="http://naver.me/GmoP5Mby" target="_blank" class="nth-child9"><span>naver</span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-12 hidden-sm hidden-md hidden-lg">
                                    <div class="foot_link_group">
                                        <div class="foot_link_group_title">
                                            <strong>ABOUT CROWDY</strong>
                                        </div>
                                        <div class="foot_link_list foot_link_list_big">
                                            <ul>
                                                <li><a href="/crowdy/info">크라우디란?</a></li>
                                                <li><a href="/news/main">크라우디 새소식</a></li>
                                                <li><a href="/community/main">커뮤니티 파트너</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-12 hidden-sm hidden-md hidden-lg mt10">
                                    <div class="foot_link_group">
                                        <div class="foot_link_group_title">
                                            <strong>HELP</strong>
                                        </div>
                                        <div class="foot_link_list foot_link_list_big">
                                            <ul>
                                                <li><a href="/crowdy/help" target="_blank">도움말</a></li>
                                                <li><a href="/crowdy/term?menu=1">회원가입 기본약관</a></li>
                                                <li><a href="/crowdy/term?menu=2">CROWDY 이용약관(리워드)</a></li>
                                                <li><a href="/crowdy/term?menu=3">CROWDY 이용약관(투자)</a></li>
                                                <li><a href="/crowdy/term?menu=4">개인정보 보호정책(리워드)</a></li>
                                                <li><a href="/crowdy/term?menu=5">개인정보 보호정책(투자)</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="big" />
    <div class="container">
        <div class="row row-mobile-n mb20">
            투자위험고지<br/>
            스타트업 투자는 원금 손실과 유동성 및 환금성에 대한 투자위험을 가지고 있습니다. 투자 전에 투자위험고지를 꼭 확인해주세요. 
            <a href="#" class="blue-800" data-toggle="modal" data-target="#irnModal">투자위험고지 바로가기 <i class="fa fa-angle-right ml5" aria-hidden="true"></i></a>
            <br/><br/>
            ㈜크라우디는 중개업(온라인소액투자중개 및 통신판매중개)을 영위하는 플랫폼 제공자로 자금을 모집하는 당사자가 아닙니다. 따라서 투자손실의 위험을 보전하거나 리워드 제공을 보장해 드리지 않으며 이에 대한 법적인 책임을 지지 않습니다.
        </div>
    </div>
    <!-- <div class="footer_wrap_top">
        <div class="container">
            
        </div>
    </div> -->
    <div class="footer_wrap_bottom">
		<div class="container">
			<div class="row row-mobile-n">
				<div class="col-md-9 company_info m-text-center">
					<span>통신판매업신고 : 제 2018 - 서울강남 - 00609호</span>
					<span>사업자등록번호 : 841 - 86 - 00201</span>
					<span class="last-child">대표자 : 김기석, 김주원</span>
                    <div class="hidden-md hidden-lg"><a href="https://goo.gl/maps/caEToKHA8kM2" target="_blank" class="address">서울시 강남구 도곡로 112 서한빌딩 2층</a></div>
				</div>
				<div class="col-md-3 text-right m-text-center">
					<address>© CROWDY INC.</address>
				</div>
			</div>
		</div>
	</div>
</footer>

<div class="page-loader-more">
    <div class="page-loader-img-more">
        Loading...
    </div>
</div>
<div th:replace="modal/danger"></div>