<div class="enot_wrap hidden-md hidden-lg">
	<div class="row">
		<div class="col-sm-2">
		</div>
		<div class="col-sm-4">
			<div class="enot_logo"></div>
		</div>
		<div class="col-sm-6 col-md-4">
			<div class="enot_oops mt50 xs-mt25"></div>
			<div class="enot_text">
				앗! 죄송해요..
				<p>모바일은 지원하지 않습니다. ㅠ_ㅠ <br /> PC로 이용해주세요</p>
			</div>
			<div class="btn_wrap">
				<a href="/" class="btn btn-primary-outline">메인화면으로</a>
			</div>
		</div>
		<div class="col-md-2">
		</div>
	</div>
</div>