<div id="user">
	<crowdy-nav :check="sessionCheck"></crowdy-nav>
</div>
<script th:inline="javascript">
/*<![CDATA[*/
	new Vue({
		el : "#user",
		data : {
			sessionCheck : [[${session.check}]]
		},
		components : {
			crowdyNav : crowdy.nav.component()
		}
	})
/*]]>*/
</script>
