<script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script src="/resources/js/animate-plus.min.js" title="css 애니메이션 data-animation-effect 플러그인"></script>
<script src="/resources/js/jquery-ui.min.js"></script>

<script src="/resources/js/jquery.fileDownload.js"></script>
<script src="/resources/js/download.js"></script>

<script src="https://ssl.daumcdn.net/dmaps/map_js_init/postcode.v2.js"></script>
	
<!-- <script src="/resources/js/jquery.datetimepicker.js" title="캘린더, 시간 추가"></script> -->
<script src="/resources/js/jquery-migrate-git.min.js" title="제이쿼리 하위버전 호환 플러그인"></script>
<script src="/resources/js/jquery.easing.js"></script>
<script src="/resources/js/bootstrap.min.js"></script>
<script src="/resources/js/metisMenu.js" title="사이드메뉴"></script>
<script src="/resources/js/hammer.min.js" title="부트스트랩 슬라이드 터치 플러그인"></script>
<!-- <script src="/resources/js/owl.carousel.min.js" title="이미지 슬라이드"></script> -->
<script src="/resources/js/slick.min.js" title="이미지 슬라이드2"></script>
<script src="/resources/js/jquery-scrolltofixed-min.js" title="스크롤시 픽스"></script>
<script src="/resources/js/bootstrap-switch.min.js" title="부트스트랩 플러그인 스위치"></script>
<script src="/resources/js/jquery.mousewheel.min.js"></script>
<script src="/resources/js/clipboard.min.js"></script>
<script src="/resources/js/jquery.scrolling-tabs.js"></script>
<script src="/resources/vendor/dropify/dropify.js?v3"></script>
<script src="/resources/vendor/webui-popover/jquery.webui-popover.min.js"></script>
<script src="/resources/vendor/bootstrap-tokenfield/bootstrap-tokenfield.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/ismobilejs/0.4.1/isMobile.min.js"></script>
<script src="/resources/js/ua-parser.min.js"></script>

<!-- <script src="//connect.facebook.net/ko_KR/sdk.js?v=20171117" charset="utf-8" title="페이스북 SDK"></script> -->
<script src="//static.nid.naver.com/js/naverLogin_implicit-1.0.3.js" charset="utf-8" title="네이버 로그인"></script>

<script src="/resources/js/tinymce/tinymce.min.js"></script>
<script src="/resources/js/tinymce/langs/ko_KR.js"></script>

<script src="/resources/js/modernizr.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/vue/2.5.2/vue.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/axios/0.17.1/axios.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/es6-promise/4.1.1/es6-promise.auto.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/url-search-params/0.10.0/url-search-params.js"></script>
<script src="//cdn.jsdelivr.net/lodash/4.17.4/lodash.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/vee-validate/2.0.0-rc.7/vee-validate.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/vee-validate/2.0.0-rc.7/locale/ko.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/accounting.js/0.4.1/accounting.min.js"></script>

<script src="//image-se.ycrowdy.com/js/vuejs-paginate.js"></script>
<script src="//image-se.ycrowdy.com/js/vue-numeric.min.js"></script>
<script src="/resources/js/lightslider.min.js"></script>

<script src="/resources/js/customer.script.min.js"></script>

<script src="/resources/dist/component.js?20181018"></script>
