/* NotoSans */
			@font-face {
				font-family: 'webfont';
				font-style: normal;
				font-weight: 400;
				src: local('Noto Sans KR Regular'), local('NotoSans-Regular'),
				/*url('NotoSansKR-Regular-Hestia.eot'),
				url('NotoSansKR-Regular-Hestia.eot?#iefix') format('embedded-opentype'), */
				url('NotoSansKR-Regular-Hestia.woff') format('woff'),
				url('NotoSansKR-Regular-Hestia.otf') format('opentype');
			}

			@font-face {
				font-family: 'webfont';
				font-style: normal;
				font-weight: 700;
				src: local('Noto Sans KR Medium'), local('NotoSans-Medium'),
				/*url('NotoSansKR-Medium-Hestia.eot'),
				url('NotoSansKR-Medium-Hestia.eot?#iefix') format('embedded-opentype'), */
				url('NotoSansKR-Medium-Hestia.woff') format('woff'),
				url('NotoSansKR-Medium-Hestia.otf') format('opentype');
			}

			@font-face {
				font-family: 'webfont-medium';
				font-style: normal;
				font-weight: 300;
				src: local('Noto Sans KR Medium'), local('NotoSans-Medium'),
				/*url('NotoSansKR-Medium-Hestia.eot'),
				url('NotoSansKR-Medium-Hestia.eot?#iefix') format('embedded-opentype'), */
				url('NotoSansKR-Medium-Hestia.woff') format('woff'),
				url('NotoSansKR-Medium-Hestia.otf') format('opentype');
			}
			
			  @font-face {
		        font-family: 'webfont-light';
		        font-style: normal;
		        font-weight: 100;
		        src: local('Noto Sans KR Light'), local('NotoSans-Light'),
		        /*url('/resources/fonts/NotoSansKR-Light-Hestia.eot'),
		        url('/resources/fonts/NotoSansKR-Light-Hestia.eot?#iefix') format('embedded-opentype'), */
		        url('/resources/fonts/NotoSansKR-Light-Hestia.woff') format('woff'),
		        url('/resources/fonts/NotoSansKR-Light-Hestia.otf') format('opentype');
		      }

			@font-face {
				font-family: 'webfont-bold';
				font-style: normal;
				font-weight: 300;
				src: local('Noto Sans KR Bold'), local('NotoSans-Bold'),
				/*url('NotoSansKR-Bold-Hestia.eot'),
				url('NotoSansKR-Bold-Hestia.eot?#iefix') format('embedded-opentype'), */
				url('NotoSansKR-Bold-Hestia.woff') format('woff'),
				url('NotoSansKR-Bold-Hestia.otf') format('opentype');
			}
			
/* 나눔스퀘어 */
			@font-face {
			  font-family: 'webfont2';
			  font-style: bold;
			  font-weight: 400;
			  src: url(NanumSquareR.eot);
			  src: local('Nanum Square Regular'),
				   local('NanumSquareR'),
				   /* url('NanumSquareR.eot?#iefix') format('embedded-opentype'), */
				   url('NanumSquareR.woff') format('woff'),
				   url('NanumSquareR.ttf') format('truetype');
			}

			@font-face {
			  font-family: 'webfont2';
			  font-style: bold;
			  font-weight: 700;
			  src: url(NanumSquareB.eot);
			  src: local('Nanum Square Bold'),
				   local('NanumSquareB'),
				  /*  url('NanumSquareB.eot?#iefix') format('embedded-opentype'), */
				   url('NanumSquareB.woff') format('woff'),
				   url('NanumSquareB.ttf') format('truetype');
			}