<div class="tab_ceo_name webfont2">김주원 대표</div>
<div class="tab_ceo_summury">현 CROWDY 공동창업자이며 공동대표로서 증권형 크라우드펀딩을 담당하고있습니다.</div>
<p>18년간 Standard Chartered, Lehman Brothers, Morgan Stanley, Bank of America, Credit Suisse First Boston 에서 기업영업 담당 상무로서 리스크관리 상품 영업 및 해외 증권 발행 업무를 수행하였으며, 공기업 민영화, 대기업의 해외 증권 발행, 기업 인수 합병 및 중견기업 리스크 관리 업무를 통하여 기업들과의 네트워크를 형성하고 있습니다.</p>
<ul class="con-icon">
	<li>
		금융업계 종사자로서 드물게 기업과 금융기관 대상 영업을 겸비한 경험이 있으며 금융상품 또한 M&amp;A, 증권발행, 신용파생상품, 외환파생상품, 금리파생상품을 모두 경험
	</li>
	<li>
		1998년 고려대학교에서 법학 학사 학위를 취득
	</li>
</ul>