<div class="tab_ceo_name webfont2">김기석 대표</div>
<div class="tab_ceo_summury">현 CROWDY 공동창업자이며 공동대표로서 리워드형 크라우드펀딩 및 Moah를 담당 하고있습니다.</div>
<p>20년 가까이 외국계 금융기관인 ANZ, Bank Of America Merrill Lynch, JP Morgan에서 자본시장본부, 투자금융, 기업금융 분야에서 경쟁력 있는 전략 기획, 금융상품 개발, 고객 관리 및 영업 활동 등 전반적인 은행의 매출 책임자 역할을 담당하였으며, 2개 기관의 한국지점대표를 역임하였습니다.</p>
<ul class="con-icon">
	<li>
		CROWDY를 창업하기 전, 호주 ANZ은행 한국지점 대표로서 전략, 고객 영업, 총괄관리 등 전반적인 은행을 3년 반 동안 총 지휘
	</li>
	<li>
		ANZ은행 전, 11년간 Bank of America Merrill Lynch에서 자본시장본부의 책임자 역할을 거쳐 2년 반동안 기업금융본부를 포함한 전체 한국지점대표를 역임
	</li>
	<li>
		JP Morgan에서 인턴쉽을 포함하여 홍콩, 서울에서 5년간 다양한금융 부서 (Investment Banking, Capital Markets, Sales &amp; Trading)를 경험
	</li>
	<li>
		University of Wisconsin - Madison에서 1995년 경영학 학사 및 1996년 MBA 학위 취득
	</li>
</ul>