<div class="tab_ceo_name webfont2">Scott H. Jung 이사회 의장</div>
<div class="tab_ceo_summury">현 CROWDY 공동창업자이며 이사회 의장입니다.</div>
<p>25년 이상의 성공적인 약력을 보유한 정대표는 퍼페티얼파트너스의 공동대표로서 투자부문을 총괄하였으며, 20년이상의 Bank of America Merrill Lynch, Morgan Stanley, JP Morgan 등 굴지의 외국금융기관에서 아시아 지역의 다양한 금융 분야 및 상품 핵심 책임자로 근무하였습니다.</p>
<ul class="con-icon">
	<li>
		퍼페티엘에 합류하기 전, 그는 2002년부터 2010년까지 Bank of America Merrill Lynch 에서 글로벌 마켓과 기업금융 임원을 역임하였으며 최종 직책으로는 아시아태평양 지역의 Managing Director 및 최고운영책임자 역할을 담당
	</li>
	<li>
		Bank of America에 합류하기 전, 그는 Morgan Stanley의 Special Situation그룹의 일원으로 한국의 부실자산 매입 및 구조조정을 담당하였고 한국지점 최고운영위원회의 채무 총괄 임원으로 활동하였으며, 그 전에는 JP Morgan의 홍콩과 서울 지점에서 채권 및 파생상품 영업과 구조화 금융의 마케팅을 담당
	</li>
	<li>
		1987년 Washington &amp; Lee대학에서 경영, 회계, 스튜디오 아트 학위를 취득
	</li>
</ul>