<div id="qaCustomer" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<form class="modal-content form-horizontal" action="#">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			</div>
			<div class="modal-body">
				<div class="rewards-modal-head rewards-modal-head-big">
					<p class="big-blue webfont2 mt10 mb0">문의하기</p>
					<h3 class="sm-small mt0 mb20">
						[전화문의] <a href="javascript:void(0)" class="grey-800">02-6954-2568~9</a> <span class="ml10">영업시간 09:30 ~ 18:00</span>
					</h3>
					<hr />
				</div>

				<div class="row row-mobile-n">
					<div class="col-sm-10 col-sm-offset-1">
						<div class="form-group row-mobile-n">
							<label for="qaCustomer_name" class="col-xs-12 control-label">
								<div class="text-left">이름</div>
							</label>
							<div class="col-xs-12">
								<input type="text" class="form-control input-md" placeholder="이름을 입력하세요" />
							</div>
						</div>

						<div class="form-group row-mobile-n">
							<label for="qaCustomer_tel" class="col-xs-12 control-label">
								<div class="text-left">전화번호</div>
							</label>
							<div class="col-xs-12">
								<input type="tel" class="form-control input-md" placeholder="전화번호를 입력하세요" />
							</div>
						</div>

						<div class="form-group row-mobile-n">
							<label for="qaCustomer_email" class="col-xs-12 control-label">
								<div class="text-left">이메일 주소</div>
							</label>
							<div class="col-xs-12">
								<input type="email" class="form-control input-md" placeholder="이메일 주소를 입력하세요" />
							</div>
						</div>

						<div class="form-group row-mobile-n">
							<label for="qaCustomer_memo" class="col-xs-12 control-label">
								<div class="text-left">어떤 것이 궁금하신가요?</div>
							</label>
							<div class="col-xs-12">
								<textarea rows="5" cols="40" class="form-control" placeholder="내용을 입력하세요"></textarea>
							</div>
						</div>
					</div>
				</div>

				<hr />

				<div class="modal-footer modal-footer-noline text-center pt0">
					<div class="row row-mobile-n">
						<div class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-4">
							<button type="button" class="btn btn-block btn-primary-outline" data-dismiss="modal">작성완료</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>