<div class="modal fade" id="irnModal" role="dialog" tabindex="-1" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog">
		<form class="modal-content form-horizontal">
			<div class="modal-header modal-header-black">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<div class="modal-title">투자위험고지</div>
			</div>
			<div class="modal-body">
				<div class="pay_info_wrap pb0">
					<div class="grey-800 mt20 mb10">
						본 투자위험고지서는 자본시장과 금융투자에 관한 법률(이하 “자본시장법”) 제 117조의 7 제4항에 의거하여 귀하가 주식회사 크라우디(이하 “㈜크라우디”)에 청약 주문을 하기 전, 투자의 위험을 사전에 충분히 인지할 수 있도록 ㈜크라우디가 귀하에게 교부하는 내용입니다. 이 교부 내용은 금융투자업자가 일반투자자를 상대로 투자권유를 하는 경우 부담하는 설명의무(자본시장법 제47조)와 유사한 효력을 지닙니다.
					</div>
					<!-- Loop -->
					<div class="step-q">
						<div class="step-q-num">
							1
						</div>
						<div class="step-q-memo">
							귀하는 본 금융투자상품이 자본시장법에 따른 “증권”에 해당되므로 원본손실의 위험성이 있다는 것을 확인합니다. 따라서 투자한 자금의 원본 손실의 위험성이 있으며, 발행인이 제시한 예상 수익과, 귀하가 예상하는 수익이나 기대하는 수익의 일부 또는 전부를 얻지 못할 수 있음을 확인합니다. 
						</div>
						<div class="clearfix"></div>
					</div>
					<!-- //Loop -->

					<!-- Loop -->
					<div class="step-q">
						<div class="step-q-num">
							2
						</div>
						<div class="step-q-memo">
							귀하는 (주)크라우디가 자본시장법에 따른 “온라인소액투자중개업자”의 지위에서 온라인소액증권발행인과 온라인소액투자중개계약을 체결하여 위 발행인이 발행하는 증권에 대한 청약 거래를 중개 역할만 하므로, 직접 증권을 발행하거나 주금을 납입 받지 않는다는 것을 알고 있습니다.
						</div>
						<div class="clearfix"></div>
					</div>
					<!-- //Loop -->

					<!-- Loop -->
					<div class="step-q">
						<div class="step-q-num">
							3
						</div>
						<div class="step-q-memo">
							귀하는 (주)크라우디의 홈페이지에 게재되어 모집되는 증권의 취득에 따른 투자위험요소, 증권의 발행조건, 발행인의 재무상태가 기재된 서류 및 사업계획서의 내용을 충분히 확인하였으며, 또한 해당 게재된 사항은 청약기간 종료 전에 정정될 수 있다는 점을 인지하고 있습니다.
						</div>
						<div class="clearfix"></div>
					</div>
					<!-- //Loop -->

					<!-- Loop -->
					<div class="step-q">
						<div class="step-q-num">
							4
						</div>
						<div class="step-q-memo">
							귀하는 (주)크라우디는 온라인소액중개 플랫폼으로써 크라우드펀딩으로 자금을 모집하는 단순 중개자로서의 역할만 수행하므로 투자손실의 위험을 보전하는 당사자가 아님을 확인합니다. 투자에 대한 모든 위험은 본인에게 있음을 확인합니다.
						</div>
						<div class="clearfix"></div>
					</div>
					<!-- //Loop -->

					<!-- Loop -->
					<div class="step-q">
						<div class="step-q-num">
							5
						</div>
						<div class="step-q-memo">
							귀하는 금번에 발행되는 비상장 증권의 발행이 한국거래소의 상장을 목적으로 하는 것이 아니며, 따라서 증권의 환금성에 큰 제약이 있다는 점과 예상 회수금액에 대한 일부 혹은 전부를 회수할 수 없는 위험이 있음을 이해하며, 귀하가 이를 감당할 수 있음을 확인합니다.
						</div>
						<div class="clearfix"></div>
					</div>
					<!-- //Loop -->

					<!-- Loop -->
					<div class="step-q">
						<div class="step-q-num">
							6
						</div>
						<div class="step-q-memo">
							귀하는 자본시장법 제117조의 10 제7항에 따라 전문투자자에 대한 매도 등 예외적인 경우를 제외하고는 원칙적으로 6개월간 전매가 제한된다는 점을 이해합니다.
						</div>
						<div class="clearfix"></div>
					</div>
					<!-- //Loop -->

					<!-- Loop -->
					<div class="step-q">
						<div class="step-q-num">
							7
						</div>
						<div class="step-q-memo">
							귀하는 청약기간 중에는 청약의 철회를 할 수 있으나, 청약기간 종료일 이후에는 청약을 철회할 수 없으며, 모집예정금액의 80% 미달 시 증권발행이 취소된다는 점을 이해합니다.
						</div>
						<div class="clearfix"></div>
					</div>
					<!-- //Loop -->

					<!-- Loop -->
					<div class="step-q">
						<div class="step-q-num">
							8
						</div>
						<div class="step-q-memo">
							귀하는 기타 아래의 사항들에 대해서도 충분히 인지하였음을 확인합니다.
							<ul>
								<li>1) (주)크라우디는 온라인소액증권 청약과 관련하여 투자자들에게 별도의 수수료(CROWDY웹사이트 이용료 등)를 징수하지는 않습니다. 다만, 청약증거금 이체 시 Bankpay(은행권이체시스템)망을 이용하므로, 이체수수료는 귀하가 직접 지불하여야 합니다.</li>
								<li>2) 발행인이 증권의 발행조건과 관련하여 조기상환조건을 설정하거나, 전환조건을 설정한 경우 이에 대한 구체적인 내용을 홈페이지를 통해 반드시 확인하여야 합니다.</li>
								<li>3) (주)크라우디는 발행인의 요청에 따라(법적으로 설정 가능한) 청약 배정 시 합리적으로 명확한 기준(선착순, 금액순, 전문투자가순 등)에 따라 투자자의 자격 등을 제한할 수 있으므로 해당 기준과 조건에 따라 청약의 우대 및 차별을 받게 될 수 있음을 인지합니다.</li>
							</ul>
						</div>
						<div class="clearfix"></div>
					</div>
					<!-- //Loop -->
				</div>

				<div class="modal-footer text-center">
					<div class="row row-mobile-n">
						<div class="col-xs-4 col-xs-offset-4">
							<button type="button" class="btn btn-block btn-primary-outline" data-dismiss="modal">확인</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>