<div id="info" class="modal fade" tabindex="-1" role="dialog" style="z-index: 9999;">
    <div class="modal-dialog modal-sm" role="document">
        <div class="common-modal-content">
            <div class="common-modal-body">
                <div v-html="text"></div>
                
                 <div class="common-modal-footer">
                 	 <template v-if="cancelButton">
                        <div v-if="cancelButton"  v-on:click="dismiss(false)">취소</div>
                        <div class="ml20 blue-800 pointerCursor" v-on:click="dismiss(true)">확인</div>
	                 </template>
	                 <template v-else>
                     	<div class="blue-800 pointerCursor" v-on:click="dismiss(true)">확인</div>
	                 </template>
                 </div>
            </div>
        </div>
    </div>
</div>
<script>
    new Vue({
        el : '#info',
        data : {
            text : '',
            callback : {},
            cancelButton : false
        },
        created : function() {
            window.info = this;
        },
        methods : {
            open : function(val, callback, cancelButton) {
                this.text = val;
                this.callback = callback;
                this.cancelButton = cancelButton;
                $('#info').modal({backdrop: 'static', keyboard: false});
            },
            dismiss : function(check) {
                this.text = '';
                $('#info').modal('hide');
                if(this.callback && check) {
                    this.callback();
                }
            }
        }

    })
</script>