<div class="modal fade" id="completedModal" role="dialog" tabindex="-1" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			</div>
			<div class="modal-body modal-order">
				<div class="rewards-modal-head rewards-modal-head-big">
					<h3 class="sm webfont2 blue-800">투자 신청의뢰가 완료되었습니다.</p>
				</div>
				<p class="m0">
					서류 심사후 연락드리겠습니다.<br />감사합니다.
				</p>

				<div class="modal-footer modal-footer-noline mt10 mb20 text-center">
					<div class="row not-space">
						<div class="col-xs-4 col-xs-offset-4 col-sm-6 col-sm-offset-3">
							<a href="/" class="btn btn-block btn-primary-outline">확인</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>