<div id="noti" class="modal fade" tabindex="-1" role="dialog" style="z-index: 9999;">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" v-on:click="dismiss(false)"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body modal-order">
                <p v-html="text"></p>
                <div class="modal-footer text-center">
                    <div class="row not-space">
                        <template v-if="cancelButton">
                            <div class="col-xs-4 col-xs-offset-1">
                                <button type="button" class="btn btn-block btn-primary-outline" v-on:click="dismiss(true)">확인</button>
                            </div>
                            <div class="col-xs-4 col-xs-offset-2">
                                <button v-if="cancelButton" type="button" class="btn btn-block btn-primary-outline" v-on:click="dismiss(false)">취소</button>
                            </div>
                        </template>
                        <template v-else>
                            <div class="col-xs-4 col-xs-offset-4">
                                <button type="button" class="btn btn-block btn-primary-outline" v-on:click="dismiss(true)">확인</button>
                            </div>
                        </template>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    new Vue({
        el : '#noti',
        data : {
            text : '',
            callback : {},
            cancelButton : false
        },
        created : function() {
            window.noti = this;
        },
        methods : {
            open : function(val, callback, cancelButton) {
                this.text = val;
                this.callback = callback;
                this.cancelButton = cancelButton;
                $('#noti').modal({backdrop: 'static', keyboard: false});
            },
            dismiss : function(check) {
                this.text = '';
                $('#noti').modal('hide');
                if(this.callback && check) {
                    this.callback();
                }
            }
        }

    })
</script>