<div id="pop-postcode" class="modal fade" style="z-index:100000;" tabindex="-1" role="dialog" aria-labelledby="evaluation-write" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			</div>
			<div id="postcode"></div>
		</div>
	</div>
</div>
<script>
	var post = new Vue({
		el : '#pop-postcode',
		data : {
			themeObj : {
				bgColor: "#ffffff", //바탕 배경색
				searchBgColor: "#ffffff", //검색창 배경색
				contentBgColor: "#ffffff", //본문 배경색
				pageBgColor: "#ffffff", //페이지 배경색
				queryTextColor: "#1d62ab", //검색창 글자색
				postcodeTextColor: "#ff0071", //우편번호 글자색
				emphTextColor: "#0d4190", //강조 글자색
				outlineColor: "#eeeeee" //테두리
			}
		},
		methods : {
			open : function(component) {
				var self = this;
				var element = document.getElementById('postcode');
				$('#pop-postcode').modal({backdrop: 'static', keyboard: false});
				new daum.Postcode({
					theme: self.themeObj,
					oncomplete: function(data) {
						var fullAddr = data.address; // 최종 주소 변수
						var extraAddr = ''; // 조합형 주소 변수

						// 기본 주소가 도로명 타입일때 조합한다.
						if(data.addressType === 'R'){
							//법정동명이 있을 경우 추가한다.
							if(data.bname !== ''){
								extraAddr += data.bname;
							}
							// 건물명이 있을 경우 추가한다.
							if(data.buildingName !== ''){
								extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
							}
							// 조합형주소의 유무에 따라 양쪽에 괄호를 추가하여 최종 주소를 만든다.
							fullAddr += (extraAddr !== '' ? ' ('+ extraAddr +')' : '');
						}
						// 우편번호와 주소 정보를 해당 필드에 넣는다.
						component.address.postNum = data.zonecode; //5자리 새우편번호 사용
						component.address.address1 = fullAddr;
						$('#pop-postcode').modal('hide');
					},
					width : '100%',
					maxSuggestItems : 5
				}).embed(element);
			},
			dismiss : function() {
				$('#pop-postcode').modal('hide');
			}
		}

	})
</script>