<div id="modalVue">
	<!-- 승인 -->
	<div id="approvalModal" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-sm" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>
				<div class="modal-body modal-order">
					<p>
						XXX 프로젝트의 XXX모의크라우드펀딩 대회 <br />
						참여를 승인하시겠습니까?
					</p>

					<div class="modal-footer text-center">
						<div class="row row-mobile-n">
							<div class="col-xs-8 col-xs-offset-2">
								<div class="row row-mobile-n">
									<div class="col-xs-6">
										<a v-on:click="approveCampaign()" class="btn btn-block btn-primary-outline" data-dismiss="modal" data-toggle="modal" data-target="#approvalCModal">예</a>
									</div>
									<div class="col-xs-6">
										<button type="button" class="btn btn-block btn-default-outline" data-dismiss="modal">아니오</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //승인 -->

	<!-- 승인완료 -->
	<div id="approvalCModal" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-sm" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>
				<div class="modal-body modal-order">
					해당 프로젝트의 승인이 완료되었습니다.

					<div class="modal-footer text-center">
						<div class="row not-space">
							<div class="col-xs-4 col-xs-offset-4">
								<button type="button" class="btn btn-block btn-primary-outline" data-dismiss="modal">확인</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //승인완료 -->

	<!-- 반려 -->
	<div id="denyModal" class="modal fade" role="dialog" tabindex="-1">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>
				<div class="modal-body modal-order">
					<p>
						XXX 프로젝트의 XXX모의크라우드펀딩 대회 <br />
						참여를 반려하시겠습니까?
					</p>

					<div class="modal-footer text-center">
						<div class="row row-mobile-n">
							<div class="col-xs-8 col-xs-offset-2">
								<div class="row row-mobile-n">
									<div class="col-xs-6">
										<button type="submit" class="btn btn-block btn-primary-outline" data-dismiss="modal" data-toggle="modal" data-target="#denyWriteModal">예</button>
									</div>
									<div class="col-xs-6">
										<button type="button" class="btn btn-block btn-default-outline" data-dismiss="modal">아니오</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //반려 -->

	<!-- 반려사유 작성 -->
	<div id="denyWriteModal" class="modal fade" aria-hidden="true" aria-labelledby="denyWriteModal" role="dialog" tabindex="-1">
		<div class="modal-dialog modal-sm">
			<form class="modal-content form-horizontal" action="#">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>
				<div class="modal-body modal-order">
					<p>
						반려 사유를 작성해주세요. <br />
						프로젝트 제작자에게 메지지로 전달됩니다.
					</p>

					<div class="form-group row-mobile-n">
						<div class="col-xs-12">
							<textarea rows="3" cols="40" id="qaEmail_memo" class="form-control  {validate:{required:true}}" title="내용을 입력하세요" placeholder="내용을 입력하세요"></textarea>
						</div>
					</div>

					<div class="modal-footer text-center">
						<div class="row not-space">
							<div class="col-xs-4 col-xs-offset-4">
								<button type="button" class="btn btn-block btn-primary-outline" data-dismiss="modal">보내기</button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
	<!-- //반려사유 작성 -->
</div>

<script type="text/javascript">
	new Vue({
	  	el: '#modalVue',
	  	data: {
	  		request : {

	  		}
	  	},
        methods: {
        	approveCampaign : function() {
	            var self = this;

	            axios.post('/data/save/community/project/apply', this.request)
	                .then(function(response){
	                	console.log(response);
	                	self.simulation = response.data.rData;
	                })
	        },
	        rejectCampaign : function() {
	            var self = this;
	            axios.post('/data/view/simulation/list', this.search)
	                .then(function(response){
	                	console.log(response);
	                	self.simulation = response.data.rData;
	                })
	        }
        }
	});
</script>