<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout/main_layout">
<body layout:fragment="content">
    <script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script src="//unpkg.com/vue-chartjs@3.0.1-rc2/dist/vue-chartjs.js"></script>
    <div id="page" class="page-wrapper">
        <div th:replace="fragments/nav"></div>
        <div id="dashboard">
            <div v-if="step != 1" class="enot_wrap hidden-md hidden-lg">
                <div class="row">
                    <div class="col-sm-2">
                    </div>
                    <div class="col-sm-4">
                        <div class="enot_logo"></div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="enot_oops mt50 xs-mt25"></div>
                        <div class="enot_text">
                            앗! 죄송해요..
                            <p>모바일은 지원하지 않습니다. ㅠ_ㅠ <br /> PC로 이용해주세요</p>
                        </div>
                        <div class="btn_wrap">
                            <a href="/" class="btn btn-primary-outline">메인화면으로</a>
                        </div>
                    </div>
                    <div class="col-md-2">
                    </div>
                </div>
            </div>
            <div>
                <dashboard :cp-alias-url="cpAliasUrl" v-on:mobile-change="stepChange"></dashboard>
            </div>
        </div>
        <script th:inline="javascript">
		//<![CDATA[
            new Vue({
                el : "#dashboard",
                data : {
                	cpAliasUrl : [[${url}]],
                	step : 1
                },
                components : {
                	dashboard : dashboard.reward.main.component(),
                },
                created: function() {
                },
                methods: {
					load: function() {
					},
					stepChange : function(step) {
	                    this.step = step;
	                },
                }
            })
		//]]>
        </script>
        <footer th:replace="fragments/footer"></footer>
        <div th:replace="modal/post"></div>
    </div>
</body>
</html>