<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout/main_layout">
<body class="main" layout:fragment="content">
    <div id="test">
        <div>
            <input type="text" v-model="request.mobileNo">
            <button v-on:click="buttonClick">CLICK</button>
        </div>
        <div v-show = "timerStart">
            <input type="text" v-model="request.authNo">
            <span >{{ time }}</span>
            <button v-on:click="mobileAuth">CLICK</button>
            <span >{{ resultText }}</span>
        </div>
        
        <span v-show="timeOut">실패</span>
    </div>
    

   <script>

        var vm = new Vue({
            el : "#test",
            data : {
                request : {
                    mobileNo : '',
                    reqSeq : '',
                    authNo : ''
                },
                time : '',
                timerStart : false,
                timeOut : false,
                isCntdownRestart : false,
                timer : {},
                resultText : ''
            },
            created : function() {
                // this.countdown(this.countdownTimeOut);
            },
            methods : {
                buttonClick : function() {
                    var self = this;
                    axios.post('/auth/mobile', this.request)
                        .then(function(response){
                            console.log(response.data)
                            self.request.reqSeq = response.data;
                            self.timerStart = true;
                            self.countdown(this.countdownTimeOut);
                        });
                },
                countdown : function(callback) {
                    var endTime, hours, mins, msLeft, time;
                    var minutes = 2;
                    var seconds = 59;
                    var self = this;

                    function twoDigits(n) {
                        return (n <= 9 ? "0" + n : n);
                    }

                    function updateTimer() {
                        if(self.isCntdownRestart){
                            self.time = "";
                            self.isCntdownRestart = false;
                            clearTimeout(self.timer);
                            minutes = 2;
                            seconds = 59;
                            endTime = (+new Date) + 1000 * (60 * minutes + seconds) + 500;
                        }

                        msLeft = endTime - (+new Date);
                        
                        if ( msLeft < 1000 ) {
                            callback();
                        } else {
                            time = new Date( msLeft );
                            hours = time.getUTCHours();
                            mins = time.getUTCMinutes();
                            self.time = (hours ? hours + ':' + twoDigits(mins) : mins) + ':' + twoDigits(time.getUTCSeconds())
                            self.timer = setTimeout(updateTimer, time.getUTCMilliseconds() + 500);
                        }
                    }
                    endTime = (+new Date) + 1000 * (60* minutes + seconds) + 500;
                    updateTimer();

                },
                countdownTimeOut : function() {
                    this.timeOut = true;
                    this.timerStart = false;
                },
                mobileAuth : function() {
                    var self = this;
                    axios.post('/auth/mobile/result', this.request)
                        .then(function(response){
                            console.log(response.data)
                            clearTimeout(self.timer);
                            self.timerStart = false;
                        });
                }
            }

        })
     
   </script>
</body>
</html>