<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="naver-site-verification" content="bf68484d88b67d936d952cbebd06ef061c0e99a0"/>
    <meta name="google-site-verification" content="-RRbkzGa_vANlu2QsyG9Uxb1NDtapUiykWlllv8xspk" />
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="apple-touch-icon" sizes="180x180" href="//image-se.ycrowdy.com/static/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="//image-se.ycrowdy.com/static/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="//image-se.ycrowdy.com/static/img/favicon-16x16.png">
    <link href="/resources/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//cdn.rawgit.com/hiun/NanumSquare/master/nanumsquare.css">
    <link href="/resources/css/animate.min.css" rel="stylesheet">
    <!-- <link href="https://image-se.ycrowdy.com/static/fonts/webfont.css" rel="stylesheet"> -->
    <link href="/resources/fonts/webfont.css" rel="stylesheet">
    <link href="/resources/css/bootstrap.min.css" rel="stylesheet">
    <link href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
    <link href="/resources/css/common.css" rel="stylesheet">
    <link href="/resources/css/theme.css?1" rel="stylesheet">

    <link href="/resources/css/slick.css" rel="stylesheet">
    <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet">
    <link href="/resources/css/select-box.css?20171201v1" rel="stylesheet">
    <link href="/resources/css/jquery.scrolling-tabs.css" rel="stylesheet">
    <link href="/resources/css/c3.min.css" rel="stylesheet">
    <!-- plugin -->
    <link href="/resources/vendor/dropify/dropify.css" rel="stylesheet">
    <link href="/resources/vendor/webui-popover/webui-popover.css" rel="stylesheet">
    <link href="/resources/vendor/bootstrap-tokenfield/bootstrap-tokenfield.css" rel="stylesheet">
    <link href="/resources/vendor/lightslider/css/lightslider.css" rel="stylesheet">
    <link href="/resources/css/custom.css?20180105" rel="stylesheet">
    <link href="/resources/css/custom-tinymce.css" rel="stylesheet">
    <link href="/resources/css/custom_shinhan.css" rel="stylesheet">
    <link href="/resources/css/custom_crowdy.css" rel="stylesheet">

    <!--[if lt IE 9]>
        <script src="/resources/js/html5shiv.min.js"></script>
    <![endif]-->
    <!--[if lt IE 10]>
        <script src="/resources/js/media.match.min.js"></script>
        <script src="/resources/js/respond.min.js"></script>
    <![endif]-->

    <title th:text="${title}"></title>
    <meta name="description" th:content="${siteDescription}">
    <meta property="og:title" th:content="${title}"/>
    <meta property="og:url" name="url" th:content="${metaUrl}" />
    <meta property="og:image" th:content="${image}" />
    <meta property="og:description" th:content="${description}" />
	<meta name="keywords" th:content="${keywords}">

    <meta property="fb:app_id" content="213171065778840" />
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="crowdy" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <div th:replace="fragments/script"></div>
    
    <script>
		var user = localStorage.getItem('user');
		
		if(user != null) {
			var uid = JSON.parse(user).memCode;
			window.dataLayer = window.dataLayer || [];
			window.dataLayer.push({'uid': uid, 'CD1': uid});
		}
	</script>
    
    <!-- kakao pixel -->
    <script type="text/javascript" charset="UTF-8" src="//t1.daumcdn.net/adfit/static/kp.js"></script>
	<script type="text/javascript">
	      kakaoPixel('1467026451353914035').pageView();
	      var path = document.location.pathname;
	      if(path.indexOf('/i/') > -1 || path.indexOf('/invest/list') > -1) {
	    	  kakaoPixel('1467026451353914035').pageView('investVisit');	  
	      }
	</script>
	
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KDPXZ7W');</script>
    <!-- End Google Tag Manager -->

</head>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KDPXZ7W"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div th:replace="modal/noti"></div>
<div th:replace="modal/info"></div>
<body layout:fragment="content">

</body>
</html>
